{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Ofertas{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-red">
            <div class="box-header">
                <h3 class="box-title">Listado</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th style="width: 200px;">Titulo</th>
                            <th>Descripción</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.titulo }}</td>
                            <td>{{ entity.descripcion | raw }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="editar" href="{{ path('backend_tarifa_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                    <a class="eliminar" href="{{ path('backend_tarifa_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" href="{{ path('backend_tarifa_new') }}"><i class="fa fa-plus"></i> Crear</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {{ form_start(pdf_form, {'attr': {'role': 'form'} }) }}
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Pdf Tarifas</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                {{ form_label(pdf_form.pdf, 'Tarifas en español') }}
                                {{ form_errors(pdf_form.pdf) }}
                                {{ form_widget(pdf_form.pdf) }}
                                <p class="help-block">Tamaño máximo: 500 KB. Formato: PDF.</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                {{ form_label(pdf_form.pdf_ingles, 'Tarifas en ingles') }}
                                {{ form_errors(pdf_form.pdf_ingles) }}
                                {{ form_widget(pdf_form.pdf_ingles) }}
                                <p class="help-block">Tamaño máximo: 500 KB. Formato: PDF.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(pdf_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>
        </div>
    {{ form_end(pdf_form) }}
</div>
{% endblock %}
