{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(edit_form.nombre) }}
                    {{ form_row(edit_form.precio) }}
                    <div class="row">
                        <div class="col-xs-12 padding-left-0">
                            <div class="col-xs-2">
                                {{ form_row(edit_form.estado) }}
                            </div>
                            <div class="col-xs-3">
                                {{ form_row(edit_form.saldo, { 'label' : 'Marcar como saldo' }) }}
                            </div>
                        </div>
                    </div>
                    {{ form_row(edit_form.descripcion) }}
                    {{ form_row(edit_form.detalles) }}
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group{{ (edit_form.principal.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.principal, 'Imagen Principal') }}
                                {{ form_errors(edit_form.principal) }}
                                {{ form_widget(edit_form.principal) }}
                                <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group{{ (edit_form.fotos.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.fotos, 'Imagenes') }}
                                {{ form_errors(edit_form.fotos) }}
                                {{ form_widget(edit_form.fotos) }}
                                <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{{ (edit_form.nombre_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.nombre_ingles, 'Nombre') }}
                        {{ form_errors(edit_form.nombre_ingles) }}
                        {{ form_widget(edit_form.nombre_ingles) }}
                    </div>
                    <div class="form-group{{ (edit_form.descripcion_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.descripcion_ingles, 'Descripción') }}
                        {{ form_errors(edit_form.descripcion_ingles) }}
                        {{ form_widget(edit_form.descripcion_ingles) }}
                    </div>
                    <div class="form-group{{ (edit_form.detalles_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.detalles_ingles, 'Detalles') }}
                        {{ form_errors(edit_form.detalles_ingles) }}
                        {{ form_widget(edit_form.detalles_ingles) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}