{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Ofertas{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-red">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Principal</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Saldo</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.nombre }}</td>
                                <td><img src="{{ asset(urlProductos ~ 'imagenes/' ~ entity.imagen) | imagine_filter('partner') }}"></td>
                                <td>{{ entity.descripcion }}</td>
                                <td>{{ entity.precio }}</td>
                                <td class="text-center">{{ (entity.estado ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                <td class="text-center">{{ (entity.saldo ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="ver" href="{{ path('backend_tienda_producto_show', { 'slugCategoria': slugCategoria, 'id': entity.id }) }}" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                                        <a class="editar" href="{{ path('backend_tienda_producto_edit', { 'slugCategoria': slugCategoria, 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('backend_tienda_producto_deleteForm', { 'slugCategoria': slugCategoria, 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_tienda_producto_new', { 'slugCategoria': slugCategoria }) }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}