{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-competiciones"></i>{{ "Competiciones de nuestra Academia" | trans }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="col-xs-9 texto">{{ "En esta parte de la web podrás tener acceso rápido a todas y cada una de las competiciones de la Escuela de Golf Miguel Ángel Jiménez. Aquí, no solo podrás ver las fechas disponibles, sino que podrás interactuar con nosotros viendo las fotos del torneo, inscribiéndote on line, viendo los resultados casi al momento... Esperamos que disfrutes, que bajes tu handicap!" | trans }}</p>
        </div>
    </div>
    <div class="container margin-bottom-50" id="torneos">
        <div class="row">
            <h2 class="titulo linea-titulo">{{ "Competiciones" | trans }}</h2>
        </div>
        {% for competicion in competiciones %}
            <div class="row fila-torneo">
                <div class="col-xs-3 reset-padding-left">
                    <div class="row">
                        <img src="{{ asset(urlCompeticiones ~ 'imagenes/' ~ competicion.imagen) }}" title="{{ competicion.nombre }}" alt="{{ "Imagen del torneo" | trans }}">
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <h3 class="titulo-torneo">{{ competicion.nombre }}</h3>
                        <p class="lugar">{{ "Lugar" | trans }}: {{ competicion.lugar }}</p>
                        <ul class="list-unstyled datos-torneo">
                            <li><span class="bold">{{ "Fecha y hora" | trans }}:</span> {{ competicion.fecha | date('d.m.Y - g:i\\h') }}</li>
                            <li><span class="bold">{{ "Categoría de torneo" | trans }}:</span> {{ competicion.categoria }}</li>
                            <li><span class="bold">{{ "Precio del torneo" | trans }}:</span> {{ competicion.precio }}€</li>
                        </ul>
                        <div class="col-xs-12">
                            <p class="row descargas-competiciones">
                                {% if file_exists(urlCompeticiones ~ 'pdf/' ~ locale ~ '/circular_' ~ competicion.id ~ '.pdf') %}
                                    <a href="{{ asset(urlCompeticiones ~ 'pdf/' ~ locale ~ '/circular_' ~ competicion.id ~ '.pdf') }}" class="descarga-reglamento" title="{{ "Circular de la competición en formato PDF" | trans }}">{{ "Circular de la competición" | trans }}<i class="icono-pdf-2"></i></a>
                                {% elseif file_exists(urlCompeticiones ~ 'pdf/es/circular_' ~ competicion.id ~ '.pdf') %}
                                    <a href="{{ asset(urlCompeticiones ~ 'pdf/es/circular_' ~ competicion.id ~ '.pdf') }}" class="descarga-reglamento" title="{{ "Circular de la competición en formato PDF" | trans }}">{{ "Circular de la competición" | trans }}<i class="icono-pdf-2"></i></a>
                                {% endif %}
                                {% if file_exists(urlCompeticiones ~ 'pdf/' ~ locale ~ '/horarios_' ~ competicion.id ~ '.pdf') %}
                                    <a href="{{ asset(urlCompeticiones ~ 'pdf/' ~ locale ~ '/horarios_' ~ competicion.id ~ '.pdf') }}" class="descarga-reglamento" title="{{ "Horarios en formato PDF" | trans }}">{{ "Horarios de la competición" | trans }}<i class="icono-pdf-2"></i></a>
                                {% elseif file_exists(urlCompeticiones ~ 'pdf/es/horarios_' ~ competicion.id ~ '.pdf') %}
                                    <a href="{{ asset(urlCompeticiones ~ 'pdf/es/horarios_' ~ competicion.id ~ '.pdf') }}" class="descarga-reglamento" title="{{ "Horarios en formato PDF" | trans }}">{{ "Horarios de la competición" | trans }}<i class="icono-pdf-2"></i></a>
                                {% endif %}
                                {% if file_exists(urlCompeticiones ~ 'pdf/' ~ locale ~ '/ranking_' ~ competicion.id ~ '.pdf') %}
                                    <a href="{{ asset(urlCompeticiones ~ 'pdf/' ~ locale ~ '/ranking_' ~ competicion.id ~ '.pdf') }}" class="descarga-reglamento" title="{{ "Clasificación en formato PDF" | trans }}">{{ "Clasificación" | trans }}<i class="icono-pdf-2"></i></a>
                                {% elseif file_exists(urlCompeticiones ~ 'pdf/es/ranking_' ~ competicion.id ~ '.pdf') %}
                                    <a href="{{ asset(urlCompeticiones ~ 'pdf/es/ranking_' ~ competicion.id ~ '.pdf') }}" class="descarga-reglamento" title="{{ "Clasificación en formato PDF" | trans }}">{{ "Clasificación" | trans }}<i class="icono-pdf-2"></i></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}