{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-ofertas"></i>{{ "Correspondencias" | trans }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="col-xs-9 texto">{{ "Si eres abonado de nuestra Escuela de golf tendrás muchos beneficios y por supuesto, podrás ir a jugar a otros campos de nuestro país." | trans }}</p>
        </div>
    </div>
    <div class="container margin-bottom-50" id="correspondencias">
        <div class="row">
            <h2 class="titulo linea-titulo">{{ "Clubes con correspondencia" | trans }}</h2>
        </div>
        {% for correspondencia in correspondencias %}
            <div class="row fila-correspondencia">
                <div class="col-xs-2 reset-padding-left">
                    <div class="row">
                        <img src="{{ asset(urlCorrespondencia ~ 'imagenes/' ~ correspondencia.imagen) }}" title="{{ correspondencia.titulo }}" alt="{{ "Logotipo de" | trans }} {{ correspondencia.titulo }}">
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <h3 class="titulo-torneo">{{ correspondencia.titulo }}, {{ correspondencia.provincia }}</h3>
                        <ul class="list-unstyled datos-torneo">
                            <li>{{ correspondencia.direccion }}</li>
                            <li>T {{ correspondencia.telefono }}</li>
                            <li>E <a href="mailto:{{ correspondencia.email }}" title="{{ "Enviar correo a" | trans }} {{ correspondencia.titulo }}">{{ correspondencia.email }}</a></li>
                        </ul>
                        <p class="col-xs-12 precio-correspondencia">
                            {{ "Precio para visitantes Escuela Miguel Ángel Jiménez" | trans }} - <span class="texto-azul">{{ correspondencia.precioVisitantes }}€</span>
                            <br>
                            {{ "Precio para el" | trans }} {{ correspondencia.titulo }} - <span class="texto-azul">{{ correspondencia.precioClub }}€</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}