{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-donde-estamos"></i>{{ "Donde estamos" | trans }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="col-xs-9 texto">{{ "La Escuela de Golf Miguel Ángel Jiménez está situada en el corazón de Torremolinos. En plena Urbanización La Colina hemos querido situar una de las mejores cancha de practicas acompañada de 9 hoyos de pares 3 donde el propio Miguel Ángel Jiménez ha derrochado toda su imaginación y experiencia para construir un campo de Pitch & Putt único. Ven a conocernos, no te arrepentirás!" | trans }}</p>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row" id="mapa">
            <div class="col-xs-9">
                <div class="row">
                    <img src="{{ asset('bundles/bootstrap/frontend/img/mapa.jpg') }}" title="Miguel Ángel Jiménez Golf Academy" alt="Mapa de Miguel Ángel Jiménez Golf Academy">
                </div>
            </div>
            <div class="col-xs-3" id="info-direccion">
                <h3 class="titulo-mapa">{{ "Escuela de Golf Miguel Ángel Jiménez" | trans }}</h3>
                <p id="direccion">
                    {{ "Calle" | trans }} Corelli S/N Urb. La Colina
                    <br>29620, Torremolinos
                    <br>Málaga, España
                </p>
                <ul class="list-unstyled">
                    <li><strong>T</strong> 951 909 490</li>
                    <li><strong>E</strong> <a href="mailto:info@escueladegolfmaj.es" title="{{ "Enviar un email" | trans }}">info@escueladegolfmaj.es</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}