{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/nivo-slider.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/themes/default/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/themes/default/default.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-slider/jquery.nivo.slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.js') }}" type="text/javascript"></script>
{% endblock %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-el-campo"></i>{{ "El campo de golf" | trans }}</h1>
        </div>
    </div>
    <div class="container" id="texto-el-campo">
        <div class="row">
            <p class="col-xs-9 texto">{{ "Hola, os quiero presentar mi campo de golf Pitch & Putt ubicado en el centro de Torremolinos, en Málaga. Como todos sabéis, este tipo de recorridos cortos son necesarios para mejorar en el campo de golf ya que el juego corto es el 70% del golf. Aquí encontraréis además una cancha de prácticas hecha con especial mimo para que nuestros amigos puedan disfrutar entrenando." | trans }}</p>
            <p class="col-xs-9 texto">{{ "Generalmente estás acostumbrado a ver imágenes de los hoyos de cada campo de golf que visitas, en cambio en mi Escuela te los enseño tal y como ves en la televisión con los grandes torneos. Quizá tras ver esto, definitivamente pienses que tienes que venir a conocernos y si ya lo has hecho, vuelve!!" | trans }}</p>
            <img src="{{ asset('bundles/bootstrap/frontend/img/miguel-angel-jimenez.jpg') }}" title="Miguel ángel Jiménez" alt="Miguel ángel Jiménez">
        </div>
    </div>
    <div class="container margin-bottom-50">
        {% for hoyo in hoyos %}
            {% if loop.index==1 %}
                <div class="row fila-el-campo">
            {% endif %}
                    <div class="col-xs-4">
                        <h2>{{ hoyo.nombre }}</h2>
                        {{ hoyo.descripcion | raw }}
                        <a href="{{ path('frontend_elcampo_video', {'id': hoyo.id}) }}" class="nivo hoyo" data-lightbox-type="ajax" title="{{ hoyo.nombre }}">
                            <img src="{{ asset(urlHoyos ~ 'imagenes/' ~ hoyo.destinoImagenes ~ '/' ~ hoyo.principal) }}">
                            <i class="icono-play"></i>
                        </a>
                        <div class="enlaces">
                            <a href="{{ path('frontend_elcampo_imagenes', {'id': hoyo.id}) }}" class="nivo" data-lightbox-type="ajax" title="{{ "Ver imágenes del hoyo" | trans }}">{{ "Ver imágenes del hoyo" | trans }}</a>
                        </div>
                    </div>
            {% if loop.index is divisible by(3)  %}
                </div>
                {% if  loop.revindex != 1 %}
                    <div class="row fila-el-campo">
                {% endif %}
            {% endif %}
        {% endfor %}
        {# Este if es para saber si no termina en un divisible de 3 es que no ha cerrado la fila y se debe cerrar #}
        {% if hoyos|length is not divisible by(3) %}
            </div>
        {% endif %}
    </div>
{% endblock %}

