<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        {% for imagen in iteratorImagenes %}
            <img src="{{ asset(urlImagenes ~ hoyo.destinoImagenes ~ '/' ~ imagen.fileName) }}" />
        {% endfor %}
    </div>
</div>