{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row" id="fila-uno">
            <div class="col-xs-3" id="columna-1">
                <h1 class="titulo-seccion"><i class="icono icono-noticias"></i>{{ "Últimas noticias" | trans }}</h1>
                {% for noticia in noticias %}
                    <div class="noticia">
                        <a href="{{ path('frontend_noticia', {'slug': noticia.slug}) }}" title="{{ "Leer más..." | trans }}">{{ noticia.titulo }}</a>
                        <time datetime="{{ noticia.created|date("Y-m-d") }}">{{ noticia.created|date("d.m.Y") }}</time>
                       <p>{{ (noticia.introduccion|striptags|length>220? noticia.introduccion|striptags|slice(0,220)~'...' : noticia.introduccion|striptags) | raw }}</p>

                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-9" id="centro">
                <div id="carousel-home" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for slider in sliders %}
                            <li data-target="#carousel-home" data-slide-to="{{ loop.index-1 }}" {{ (loop.index == 1? 'class="active"':'') }}></li>
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for slider in sliders %}
                            <div class="item {{ (loop.index == 1? 'active':'') }}">
                                <a href="{{ (slider.url? slider.url : 'javascript:void(0);') }}" class="carousel-enlace">
                                    <img class="img-responsive" src="{{ asset(urlSlider ~ slider.imagen) }}" alt="">
                                    <div class="carousel-caption">
                                        {% for text in slider.text %}
                                            <h2 style="top: {{ text.topCss }}px;left: {{ text.leftCss }}px;width: {{ text.widthCss }}px;">{{ text.text }}</h2>
                                        {% endfor %}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-12" id="contenedor-seccion">
                    <div class="row" id="bloques">
                        {% for bloque in bloques %}
                            <div class="col-xs-4">
                                <a href="{{ (bloque.url ? bloque.url : path('frontend_bloque', {'slug': bloque.slug})) }}"{{ (bloque.url ? ' tarjet="_blank"' : '') }} title="{{ bloque.title }}"><img class="img-responsive" src="{{ asset(urlBlocks ~ 'imagenes/' ~ bloque.img) }}" title="{{ bloque.title }}" alt=""></a>
                                <a href="{{ (bloque.url ? bloque.url : path('frontend_bloque', {'slug': bloque.slug})) }}"{{ (bloque.url ? ' tarjet="_blank"' : '') }} title="{{ bloque.title }}"><h1>{{ bloque.title }}</h1></a>
                                <div>{{ bloque.text | raw }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

