{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container margin-bottom-50">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <div class="col-xs-9 padding-left-0">
                <h1 class="titulo"><i class="icono icono-noticias"></i> {{ informacion.title }}</h1>
                <div class="pagina">
                    {{ informacion.fullText | raw }}
                </div>
            </div>
            <div class="col-xs-3" id="propuestas">
                <h1 class="titulo">Las mejores propuestas</h1>
                {% for bloque in bloques %}
                    <div class="propuesta">
                        <h5>{{ bloque.title }}</h5>
                        <p>{{ bloque.text | raw}}</p>
                        <a href="{{ (bloque.url ? bloque.url : path('frontend_bloque', {'slug': bloque.slug})) }}"{{ (bloque.url ? ' tarjet="_blank"' : '') }} title="Leer más sobre '{{ bloque.title }}'">Leer más</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}