{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <div class="col-xs-9 padding-left-0">
                <h1 class="titulo noticia-interior"><i class="icono icono-noticias"></i> Noticias</h1>
                <div class="pagina">
                    <h2 class="titulo">{{ noticia.titulo }}</h2>
                    {{ noticia.texto | raw }}
                    {% if noticia.fuente %}
                        <p><strong>Fuente:</strong> <a href="{{ noticia.fuente }}" title="{{ "Ir a su web" | trans }}" target="_blank">{{ noticia.fuente }}</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-3" id="propuestas">
                <h1 class="titulo" id="mas-noticias">{{ "Más noticias importantes" | trans }}</h1>
                {% for miNoticia in noticias %}
                    <div class="propuesta">
                        <h5>{{ miNoticia.titulo }}</h5>
                        <p>{{ (miNoticia.introduccion|striptags|length>220? miNoticia.introduccion|striptags|slice(0,220)~'...' : miNoticia.introduccion|striptags) | raw }}</p>
                        <a href="{{ path('frontend_noticia', {'slug': miNoticia.slug}) }}" title="Leer más sobre '{{ miNoticia.titulo }}'">Leer más</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}