{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-ofertas"></i>{{ "Ofertas de nuestra academia" | trans }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="col-xs-9 texto">{{ "En nuestra Escuela de Golf también tenemos ofertas muy interesantes para todos nuestros amigos. Todos los meses o incluso algunas semanas te sorprenderemos con ofertas que te harán volver a vernos muy pronto!" | trans }}</p>
        </div>
    </div>
    <div class="container margin-bottom-50" id="ofertas">
        {% for oferta in ofertas %}
            <div class="row oferta">
                <div class="col-xs-6">
                    <div class="row"><img src="{{ asset(urlOfertas ~ 'imagenes/' ~ oferta.imagen) }}" title="{{ oferta.titulo }}" alt="{{ "Imágen de la oferta" | trans }}"></div>
                </div>
                <div class="col-xs-6 contenido">
                    <h2 class="titulo-oferta">{{ oferta.titulo }}</h2>
                    <p class="precio">{{ oferta.precio }}</p>
                    {{ oferta.texto | raw }}
                    <ul class="list-unstyled">
                        <li><strong>{{ "Fechas" | trans }}:</strong> {{ "Desde %desde% hasta el %hasta%" | trans({ '%desde%':  oferta.desde | date('d.m.y'), '%hasta%': oferta.hasta | date('d.m.y') }) }}</li>
                        <li><strong>{{ "Días" | trans }}:</strong> {{ oferta.dias }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}