<div class="container-fluid" id="patrocinadores">
    <ul class="list-unstyled list-inline">
        {% for patrocinador in patrocinadores %}
            <li><a href="{{ patrocinador.url }}" title="{{ patrocinador.name }}"><img class="img-responsive" src="{{ asset(urlPatrocinadores ~ 'imagenes/' ~ patrocinador.imagen) }}" title="{{ patrocinador.name }}" alt="Logotipo de {{ patrocinador.name }}"></a></li>
        {% endfor %}
    </ul>
</div>