{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block title %}Política de cookies. Circuito Miguel Ángel Jiménez{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <div class="col-xs-9 padding-left-0 web">
                <h1 class="titulo noticia-interior"><i class="icono icono-politicas"></i> Política de cookies</h1>
                <div class="pagina">
                    <p>Este sitio solamente utiliza&nbsp;<em>cookies</em>&nbsp;propias para gestionar las sesiones de usuario. Por lo tanto,&nbsp;<strong>este sitio no utiliza ninguna&nbsp;<em>cookie</em>&nbsp;propia de seguimiento</strong>. No obstante, sí que utilizamos los siguientes servicios que emplean&nbsp;<em>cookies</em>&nbsp;de seguimiento de usuarios:</p>
                    <ul>
                        <li>Google Analytics</li>
                    </ul>
                    <p>Para obtener más detalles, consulta la información que han publicado los responsables de esas<em>cookies</em>:</p>
                    <ul>
                        <li><a href="http://www.google.es/intl/es/policies/technologies/cookies/">Cómo utiliza Google las&nbsp;<em>cookies</em></a>.</li>
                        <li><a href="http://www.google.es/intl/es/policies/technologies/types/">Tipos de&nbsp;<em>cookies</em>&nbsp;utilizados por Google.</a></li>
                        <li><a href="http://www.google.es/intl/es/policies/technologies/managing/">Cómo administrar las&nbsp;<em>cookies</em>&nbsp;en el navegador</a>&nbsp;para bloquearlas o borrarlas.</li>
                    </ul>
                    <p>Les ofrecemos orientación sobre los pasos para acceder al menú de configuración de las cookies y, en su caso, de la navegación privada en cada uno de los navegadores principales:</p>
                    <ul>
                        <li><strong>Internet Explorer:</strong>&nbsp;Herramientas -&gt; Opciones de Internet -&gt; Privacidad -&gt; Configuración.</li>
                        <li><strong>Firefox:</strong>&nbsp;Herramientas -&gt; Opciones -&gt; Privacidad -&gt; Historial -&gt; Configuración Personalizada.</li>
                        <li><strong>Chrome:</strong>&nbsp;Configuración -&gt; Mostrar opciones avanzadas -&gt; Privacidad -&gt; Configuración de contenido.</li>
                        <li><strong>Safari:</strong>&nbsp;Preferencias -&gt; Seguridad.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

