<div class="linea-superior">
    <div class="container">
        <div class="row" id="banners">
            <h1 class="titulo"><i class="icono icono-sponsors"></i> Miguel Ángel Jiménez top sponsors</h1>
            {% for publi in publicidad %}
                <div class="col-xs-6{{ (loop.index == 1 ? " padding-left-0" : " padding-right-0") }}">
                    <div class="titulo-patrocinadores">
                        <img src="{{ asset(urlPublicidad ~ 'imagenes/' ~ publi.imagenTitulo ) }}" title="{{ publi.titulo }}" alt="Banner de {{ publi.titulo }}">
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <img class="float-left" src="{{ asset(urlPublicidad ~ 'imagenes/' ~ publi.imagen) }}" title="{{ publi.titulo }}" alt="Banner de {{ publi.titulo }}">
                        </div>
                        <div class="texto col-xs-6">
                            <h5>{{ publi.titulo }}</h5>
                            {{ publi.texto | raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>