{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-tarifas"></i>{{ 'Tarifas de la Academia' | trans }}</h1>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row bloques">
            {% for tarifa in tarifas %}
                <div class="col-3">
                    <a class="bloque-mas" href="#tarifa-{{ loop.index }}" title="{{ tarifa.titulo }}"><img src="{{ asset(urlTarifas ~ 'imagenes/' ~ tarifa.imagen) }}" title="{{ tarifa.titulo }}"><h1 class="activo">{{ tarifa.titulo }}</h1></a>
                    {{ tarifa.descripcion | raw }}
                </div>
            {% endfor %}
        </div>
        <div class="row" id="contenedor-mas-bloques">
            <i id="piramide" class="tarifa-1-piramide"></i>
            {% for tarifa in tarifas %}
                <div class="col-xs-12"{{ (loop.index==1 ? ' style="display: block" ' : '') }} id="tarifa-{{ loop.index }}">
                    {{ tarifa.contenido | raw }}
                </div>
            {% endfor %}
        </div>
        {% if file_exists( urlTarifas ~ (locale == 'es' ? 'pdf/tarifas.pdf' : 'pdf/tarifas_en.pdf' ) ) %}
            <div class="row">
                <a href="{{ asset(urlTarifas ~ (locale == 'es' ? 'pdf/tarifas.pdf' : 'pdf/tarifas_en.pdf' )) }}" class="col-xs-12" title="{{ 'Descárgate nuestro folleto con todas las tarifas' | trans }}" id="descarga-pdf-clases" target="_blanc">{{ 'Descárgate nuestro folleto con todas las tarifas' | trans }} <i class="icono-pdf"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}