{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block title %}Videoclases de Miguel Ángel Jiménez{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/nivo-slider.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/themes/default/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/themes/default/default.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-slider/jquery.nivo.slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.js') }}" type="text/javascript"></script>
{% endblock %}
{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            {{ wo_render_breadcrumbs() }}
        </div>
        <div class="row">
            <div class="col-xs-12 padding-10">
                <div class="row margin-menos-10 margin-right-0">
                    <h1 class="titulo"><i class="icono icono-galeria"></i> {{ 'Videoclases' | trans }}</h1>
                    <p class="margin-bottom-25">{{ 'En esta sección te proponemos una enseñanza diferente a través de las Video-Clases de Miguel Ángel Jiménez, una sencilla forma de aprender los mejores secretos de uno de los mejores jugadores del mundo.' | trans }}</p>
                </div>
                <div class="row margin-menos-10 margin-bottom-50 margin-right-0">
                    <div class="col-xs-12 padding-0" id="contenedor-video">
                        <div class="padding-0 club-container">
                            {% for video in pagination %}
                                <div class="col-xs-3 club">
                                    <a class="lightbox" href="{{ path('frontend_video', {'id': video.id}) }}" title="{{ 'Pincha para ver el video en grande' | trans }}" data-lightbox-type="ajax">
                                        <img src="{{ asset(urlVideoclases ~ 'imagenes/' ~ video.imagen) }}" alt="Video">
                                        <h3>{{ video.titulo }}</h3>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="navigation col-xs-6 text-right padding-right-0">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}