{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {% form_theme edit_form with 'BootstrapBundle:Default/Backend/Form:fields.html.twig' %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
                <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="espanol">
                    <div class="box-header">
                        <h3 class="box-title">Información General</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(edit_form.titulo, { 'label' : 'Nombre' }) }}
                        {{ form_row(edit_form.direccion, { 'label' : 'Direccion' }) }}
                        {{ form_row(edit_form.provincia, { 'label' : 'Provincia' }) }}
                        <div class="form-group{{ (edit_form.telefono.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.telefono, 'Telefono') }}
                            {{ form_errors(edit_form.telefono) }}
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                {{ form_widget(edit_form.telefono, {'attr': {'class': 'form-control', 'data-inputmask': '"mask": "999 99 99 99"', 'data-mask': 'data-mask' } }) }}
                            </div>
                        </div>
                        <div class="form-group{{ (edit_form.email.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.email, 'Email') }}
                            {{ form_errors(edit_form.email) }}
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-xs-12 padding-0">
                            <div class="form-element col-xs-2 padding-left-0{{ (edit_form.precioVisitantes.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.precioVisitantes, 'Precio Visitantes') }}
                                {{ form_errors(edit_form.precioVisitantes) }}
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    {{ form_widget(edit_form.precioVisitantes, {'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-element col-xs-2 padding-left-0{{ (edit_form.precioClub.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.precioClub, 'Precio Club') }}
                                {{ form_errors(edit_form.precioClub) }}
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    {{ form_widget(edit_form.precioClub, {'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group{{ (edit_form.foto.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.foto, 'Imagen') }}
                            {{ form_errors(edit_form.foto) }}
                            {{ form_widget(edit_form.foto) }}
                            <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ingles">
                    <div class="box-header">
                        <h3 class="box-title">Información a Traducir</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(edit_form.titulo_ingles) }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                <p class="help-block">Guardarás en todos los idiomas</p>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}