{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Correspondencias{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Direccion</th>
                                <th>Provincia</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Visitantes</th>
                                <th>Club</th>
                                <th style="width: 205px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.titulo }}</td>
                                <td>{{ entity.direccion }}</td>
                                <td>{{ entity.provincia }}</td>
                                <td style="width: 100px;">{{ entity.telefono }}</td>
                                <td>{{ entity.email }}</td>
                                <td class="text-right">{{ entity.precioVisitantes }} €</td>
                                <td class="text-right">{{ entity.precioClub }} €</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('correspondencia_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('correspondencia_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('correspondencia_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
