{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Ver Correspondencia{% endblock %}
{% block contenido %}
    <fieldset>
        <legend>Datos</legend>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{ entity.titulo }}</td>
                </tr>
                <tr>
                    <th>Direccion</th>
                    <td>{{ entity.direccion }}</td>
                </tr>
                <tr>
                    <th>Telefono</th>
                    <td>{{ entity.telefono }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Preciovisitantes</th>
                    <td>{{ entity.precioVisitantes }}</td>
                </tr>
                <tr>
                    <th>Precioclub</th>
                    <td>{{ entity.precioClub }}</td>
                </tr>
                <tr>
                    <th>Imagen</th>
                    <td><img src="{{ asset(urlImagenes ~ entity.imagen) }}"></td>
                </tr>
            </tbody>
        </table>
        <ul class="record_Acciones">
            <li><a href="{{ path('correspondencia') }}">Back to the list</a></li>
            <li><a href="{{ path('correspondencia_edit', { 'id': entity.id }) }}">Edit</a></li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    <fieldset>
{% endblock %}