{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Escuela{% endblock %}
{% block contenido %}
    <div class="col-xs-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Instalaciones</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-building-o"></i>
            </div>
            <a href="{{ path('backend_instalaciones') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Páginas</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-file-text-o"></i>
            </div>
            <a href="{{ path('backend_paginas') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>Profesores</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-male"></i>
            </div>
            <a href="{{ path('backend_profesores') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
{% endblock %}
