{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Dashboard{% endblock %}
{% block contenido %}

    <div class="col-xs-4">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Escuela</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <a href="{{ path('backend_dashboard_slug', {'slug': 'escuela'}) }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Noticias</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-rss"></i>
            </div>
            <a href="{{ path('backend_noticia') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>Página web</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>
            <a href="{{ path('backend_dashboard_slug', {'slug': 'pagina-web'}) }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>Productos</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-cubes"></i>
            </div>
            <a href="{{ path('backend_dashboard_slug', {'slug': 'productos'}) }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

{% endblock %}
