{% extends 'BootstrapBundle:Default/Backend:externo.html.twig' %}
{% block idBody %}login{% endblock %}
{% block body %}
    <div class="form-box" id="login-box">
        <div class="header">Sign In</div>
        <form action="{{ path('backend_login_check') }}" method="post">
            <div class="body bg-gray">
                {% if error %}
                    <div id="error-login"><i class="fa fa-ban"></i> <strong>Error!</strong>{{ error.message }}</div>
                {% endif %}
                <div class="form-group">
                    <input type="text" name="_username" class="form-control" placeholder="username" value="{{ last_username }}"/>
                </div>
                <div class="form-group">
                    <input type="password" name="_password" class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group">

                </div>
                <div class="form-element">
                    <input type="checkbox" name="_remember_me"/>
                    <label>Remember me</label>
                </div>
                {#
                   añade lo siguiente si quieres redirigir al usuario a una
                   URL concreta después del login (explicado más adelante)
                   <input type="hidden" name="_target_path" value="/account" />
                #}
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block" style="margin-top: 10px;">Sign me in</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
{% endblock %}