{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Página Web{% endblock %}
{% block contenido %}
    <div class="col-xs-4">
        <div class="small-box bg-navy">
            <div class="inner">
                <h3>Bloques</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-cube"></i>
            </div>
            <a href="{{ path('backend_block') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-maroon">
            <div class="inner">
                <h3>Competiciones</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-sitemap"></i>
            </div>
            <a href="{{ path('backend_competiciones') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Correspondencias</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-share-alt"></i>
            </div>
            <a href="{{ path('correspondencia') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>El Campo</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="fa fa-flag"></i>
            </div>
            <a href="{{ path('el-campo') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>Ofertas</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="{{ path('backend_ofertas') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>Sponsors</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-videocam"></i>
            </div>
            <a href="{{ path('backend_publicidad') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Patrocinadores</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-pricetags"></i>
            </div>
            <a href="{{ path('backend_patrocinadores') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-light-blue">
            <div class="inner">
                <h3>Slider</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-images"></i>
            </div>
            <a href="{{ path('slider') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Tarifas</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-cart-outline"></i>
            </div>
            <a href="{{ path('backend_tarifa') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

{% endblock %}
