{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Partners{% endblock %}
{% block contenido %}
    {% for categoria in categorias %}
        <div class="col-xs-4">
            <div class="small-box bg-{{ categoria.color }}">
                <div class="inner">
                    <h3>{{ categoria.nombre }}</h3>
                    <p>Configurar</p>
                </div>
                <div class="icon">
                    <i class="fa {{ categoria.icono }}"></i>
                </div>
                <a href="{{ path('backend_partner', { 'categoria': categoria.slug }) }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
