{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Página Web{% endblock %}
{% block contenido %}
    <div class="col-xs-4">
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>Productos</h3>
                <p>Categorias</p>
            </div>
            <div class="icon">
                <i class="fa fa-flag"></i>
            </div>
            <a href="{{ path('backend_dashboard_productos') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Ventas</h3>
                <p>Configurar</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-pricetags"></i>
            </div>
            <a href="{{ path('backend_patrocinadores') }}" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
{% endblock %}
