.margen-bottom{
    margin-bottom: 40px;
}
.texto-slider{
    position: absolute;
    text-align: left;
}
.contenedor-slider{
    width: 713px;
    height: 336px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.contenedor-slider h1{
    font-size: 40px;
    line-height: 41px;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.contenedor-slider img{
    height: 100%;
    width: 100%;
}
.checkbox{
    width: inherit;
    box-shadow: none;
}
textarea.form-control{
    height: 100px;
}
#form-blocks #imagen{
    margin-bottom: 20px;
}

/* Blocques */
.col-3 {
    width: 23.25%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    margin-right: 22.6px;
}
.bloques a h1 {
    font-family: "Arial Black";
    font-size: 24px;
    color: #333333;
    font-weight: normal;
    margin-top: 9px;
    line-height: 30px;
    margin-bottom: 14px;
}
#contenedor-seccion p {
    color: #666666;
    font-size: 13px;
}
#contenedor-seccion {
    margin-top: 23px;
    border-bottom: 0;
    padding-bottom: 20px;
    margin-bottom: 12px;
    width: 970px;
    max-width: none !important;
}
.bloques div.col-3:last-child {
    margin-right: 0;
}
#banners {
    padding-bottom: 54px;
    width: 970px;
    max-width: none !important;
}
#banners div > div:first-child {
    padding-left: 0;
}
#banners p {
    margin-top: 7px;
    font-size: 13px;
    color: #666666;
    margin-bottom: 24px;
    width: 90%;
}
#banners div > div:last-child {
    padding-left: 17px;
}
#contenedor-patrocinadores{
    width: 970px;
    max-width: none !important;
}
#patrocinadores ul li {
    padding-right: 56px;
    padding-left: 0;
}
#patrocinadores ul li:last-child {
    padding-right: 0;
}
.imagenes-list{
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
    position: relative;
}
.control-imagenes{
    position: absolute;
    top: 39%;
    left: 10%;
    display: none;
    right: 10%;
}
.imagenes-list:hover .control-imagenes{
    display: block;
}

.principal{
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #398439;
    background: #47a447;
    color: #ffffff;
    text-align: center;
    padding: 4px;
    top: 0;
}
.estado{
    position: absolute;
    right: 10px;
}
.encoger{
    position: relative;
    cursor: pointer;
}
.contenido-fieldset{
    /*display: none;*/
}
.col-parent{
    padding-left: 0;
    padding-right: 0;
}
textarea{
    width: 100%;
}
.margin-top-10{
    margin-top: 10px;
}
#video-hoyos legend{
    text-align: left;
}
#video-hoyos{
    text-align: center;
}
.padding-left-0{
    padding-left: 0 !important;
}
.padding-right-0{
    padding-right: 0;
}
.editar{
    margin-left: 10px;
    margin-right: 10px;
}
.editar, .verde{
    color: #00a65a;
}
.eliminar, .rojo{
    color: #dd6666;
}
.editar:hover{
    text-decoration: none;
    color: #019451;
}
.eliminar:hover{
    text-decoration: none;
    color: #cb5b5b;
}
.table{
    /*margin-top: 10px;*/
}
.controles{
    margin-bottom: 15px;
}
.ver:hover{
    text-decoration: none;
}
.upload{
    color: #f39c12;
    margin-right: 10px;
}
.upload:hover{
    text-decoration: none;
    color: #e08e0b;
}
#form-text-sliderText{
    /*display: inline-block;*/
}
#form-text-sliderText > div{
    padding-left: 0;
    padding-right: 0;
}
.padding-0{
    padding: 0;
}
.has-error ul{
    list-style: none;
    padding-left: 0;
}
.has-error ul li{
    color: #f56954;
    font-size: 12px;
}
.form-element.has-error label {
    color: #f56954;
}
#lista-imagenes{
    display: inline-block;
    margin-left: -10px;
    margin-right: -10px;
}
#error-login{
    color: #a94442;
}
#error-login strong{
    margin-right: 6px;
}
.oculto{
    display: none;
}

.nav-tabs-custom .box-footer {
    border-top: 1px solid #f4f4f4;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: #ffffff;
}
.nav-tabs-custom .box-footer .help-block{
    display: inline-block;
    margin-left: 4px;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 12px;
}
.cke_chrome {
    border: 1px solid #cccccc !important;
    box-shadow: none !important;
}
.margin-0{
    margin: 0 !important;
}
label + .icheckbox_minimal {
    margin-left: 20px;
}
.table-striped thead tr th:last-child{
    min-width: 165px;
}

#video-hoyos .box-info .box-body iframe{
    width: 418px;
}
.instalaciones{
    left: 30%;
}
#login{
    background: transparent url(../img/fondo-login.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}