{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_label(child) -}}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}