{% set locale = app.request.locale %}
<!DOCTYPE html>
<html lang="en" class="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>#}
        <title>{% block title %}Miguel Ángel Jiménez Golf Academy{% endblock %}</title>
        <meta name="description" content="{{ "Web de Miguel Ángel Jiménez Golf Academy, situada en Málaga." | trans }}">
        <meta name="author" content="Miguel Ángel Jiménez">
        <meta name="keywords" content="{{ "golf, academia, málaga, miguel ángel jiménez, miguel, angel, jimenez, escuela, clases, jugar golf" | trans }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
