<!DOCTYPE html>
<html lang="en" class="{% block cssHtlm %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}| Miguel Ángel Jiménez Golf Academy{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body class="{% block cssBody %}skin-blue{% endblock %}" id="{% block idBody %}generico{% endblock %}">
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
