{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {% form_theme edit_form with 'BootstrapBundle:Default/Backend/Form:fields.html.twig' %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(edit_form.nombre, { 'label' : 'Nombre' }) }}
                    {{ form_row(edit_form.lugar, { 'label' : 'Lugar' }) }}
                    {{ form_row(edit_form.categoria, { 'label' : 'Categoria' }) }}
                    <div class="form-group{{ (edit_form.fecha.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.fecha, 'Fecha y hora') }}
                        {{ form_errors(edit_form.fecha) }}
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            {{ form_widget(edit_form.fecha, {'attr': {'class': 'form-control', 'data-inputmask': '"mask": "99/99/9999 99:99"', 'data-mask': true } }) }}
                        </div>
                    </div>
                    <div class="form-group {{ (edit_form.precio.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.precio, 'Precio') }}
                        {{ form_errors(edit_form.precio) }}
                        <div class="input-group">
                            <span class="input-group-addon">€</span>
                            {{ form_widget(edit_form.precio, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group{{ (edit_form.foto.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.foto, 'Imagen') }}
                        {{ form_errors(edit_form.foto) }}
                        {{ form_widget(edit_form.foto) }}
                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    {{ form_row(edit_form.nombre_ingles) }}
                    {{ form_row(edit_form.lugar_ingles) }}
                    {{ form_row(edit_form.categoria_ingles) }}
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
