{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Competiciones{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Lugar</th>
                                <th>Fecha</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.lugar }}</td>
                                <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i') }}{% endif %}</td>
                                <td>{{ entity.categoria }}</td>
                                <td>{{ entity.precio }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('backend_competiciones_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="upload" href="{{ path('backend_competiciones_pdf', { 'id': entity.id }) }}" title="Subir Circular y Ranking"><i class="fa fa-upload"></i> Subir PDF's</a>
                                        <a class="eliminar" href="{{ path('backend_competiciones_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_competiciones_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
