{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Upload PDF's de la competicion{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Subir PDF's</h3>
                </div>
                {% form_theme pdf_form with 'BootstrapBundle:Default/Backend/Form:fields.html.twig' %}
                {{ form_start(pdf_form, {'attr': {'role': 'form'} }) }}
                    <div class="box-body">
                        {{ form_row(pdf_form.idioma) }}
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form_label(pdf_form.circular, 'Circular') }}
                                    {{ form_errors(pdf_form.circular) }}
                                    {{ form_widget(pdf_form.circular) }}
                                    <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: PDF.</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form_label(pdf_form.ranking, 'Clasificacion') }}
                                    {{ form_errors(pdf_form.ranking) }}
                                    {{ form_widget(pdf_form.ranking) }}
                                    <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: PDF.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{ form_label(pdf_form.horarios, 'Horarios') }}
                                    {{ form_errors(pdf_form.horarios) }}
                                    {{ form_widget(pdf_form.horarios) }}
                                    <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: PDF.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form_widget(pdf_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                {{ form_end(pdf_form) }}
            </div>
        </div>
    </div>
{% endblock %}
