{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
                <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="espanol">
                    <div class="box-header">
                        <h3 class="box-title">Información General</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(edit_form.titulo, { 'label' : 'Titulo' }) }}
                        {{ form_row(edit_form.texto, { 'label' : 'Texto' }) }}
                        <div class="form-group {{ (edit_form.precio.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.precio, 'Precio Visitantes') }}
                            {{ form_errors(edit_form.precio) }}
                            <div class="input-group">
                                <span class="input-group-addon">€</span>
                                {{ form_widget(edit_form.precio, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="form-group col-xs-12 padding-0">
                            <div class="form-element col-xs-3 padding-left-0{{ (edit_form.desde.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.desde, 'Desde') }}
                                {{ form_errors(edit_form.desde) }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_widget(edit_form.desde, {'attr': {'class': 'form-control' } }) }}
                                </div>
                            </div>
                            <div class="form-element col-xs-3{{ (edit_form.hasta.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.hasta, 'Hasta') }}
                                {{ form_errors(edit_form.hasta) }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_widget(edit_form.hasta, {'attr': {'class': 'form-control' } }) }}
                                </div>
                            </div>
                        </div>
                        {{ form_row(edit_form.dias, { 'label' : 'Dias' }) }}
                        <div class="form-group{{ (edit_form.foto.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.foto, 'Imagen') }}
                            {{ form_errors(edit_form.foto) }}
                            {{ form_widget(edit_form.foto) }}
                            <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ingles">
                    <div class="box-header">
                        <h3 class="box-title">Información a Traducir</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group{{ (edit_form.titulo_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.titulo_ingles, 'Titulo') }}
                            {{ form_errors(edit_form.titulo_ingles) }}
                            {{ form_widget(edit_form.titulo_ingles) }}
                        </div>
                        <div class="form-group{{ (edit_form.texto_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.texto_ingles, 'Texto') }}
                            {{ form_errors(edit_form.texto_ingles) }}
                            {{ form_widget(edit_form.texto_ingles) }}
                        </div>
                        <div class="form-group{{ (edit_form.dias_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.dias_ingles, 'Dias') }}
                            {{ form_errors(edit_form.dias_ingles) }}
                            {{ form_widget(edit_form.dias_ingles) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                <p class="help-block">Guardarás en todos los idiomas</p>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}