{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Ofertas{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Precio</th>
                                <th>Texto</th>
                                <th style="width: 90px;">Desde</th>
                                <th style="width: 90px;">Hasta</th>
                                <th>Dias</th>
                                <th style="width: 162px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.titulo }}</td>
                                <td>{{ entity.precio }}</td>
                                <td>{{ (entity.texto|striptags|length>50? entity.texto|striptags|slice(0,50)~'...' : entity.texto|striptags) }}</td>
                                <td>{% if entity.desde %}{{ entity.desde|date('d-m-Y') }}{% endif %}</td>
                                <td>{% if entity.hasta %}{{ entity.hasta|date('d-m-Y') }}{% endif %}</td>
                                <td>{{ entity.dias }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('backend_ofertas_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('backend_ofertas_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_ofertas_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
