{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Ver Oferta{% endblock %}
{% block contenido %}
    <fieldset>
        <legend>Datos</legend>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{ entity.titulo }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>{{ entity.precio }}</td>
                </tr>
                <tr>
                    <th>Texto</th>
                    <td>{{ entity.texto }}</td>
                </tr>
                <tr>
                    <th>Desde</th>
                    <td>{{ entity.desde|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Hasta</th>
                    <td>{{ entity.hasta|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Dias</th>
                    <td>{{ entity.dias }}</td>
                </tr>
            </tbody>
        </table>

        <ul class="record_Acciones">
            <li>
                <a href="{{ path('backend_ofertas') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('backend_ofertas_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </fieldset>
{% endblock %}