{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(edit_form.nombre) }}
                    {{ form_row(edit_form.nombre) }}
                    {{ form_row(edit_form.descripcion) }}
                    {{ form_row(edit_form.texto, {'label' : 'Texto' }) }}
                    <div class="row">
                        <div class="col-xs-12 padding-left-0">
                            <div class="col-xs-3">
                                {{ form_row(edit_form.provincia) }}
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group{{ (edit_form.telefono.vars.errors|length? ' has-error': '') }}">
                                    {{ form_label(edit_form.telefono) }}
                                    {{ form_errors(edit_form.telefono) }}
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        {{ form_widget(edit_form.telefono, {'attr': {'class': 'form-control', 'data-inputmask': '"mask": "999 99 99 99"', 'data-mask': 'data-mask' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                {{ form_row(edit_form.contacto) }}
                            </div>
                        </div>
                        <div class="col-xs-12 padding-left-0">
                            <div class="col-xs-2">
                                {{ form_row(edit_form.estado, { 'label' : 'Publicado' }) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(edit_form.destacado) }}
                            </div>
                            <div class="col-xs-3">
                                {{ form_row(edit_form.oro, { 'label' : 'Exclusivo miembros oro' }) }}
                            </div>
                        </div>
                        <div class="col-xs-12 padding-left-0">
                            <div class="col-xs-2">
                                {{ form_row(edit_form.orden, { 'label' : 'Orden en la sección' }) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(edit_form.ordenDestacado, { 'label' : 'Orden en destacados' }) }}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            {{ form_row(edit_form.grande, { 'label' : 'Tamaño imagen principal' }) }}
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 padding-left-0">
                                <div class="form-group{{ (edit_form.principal.vars.errors|length? ' has-error': '') }}">
                                    {{ form_label(edit_form.principal, 'Imagen Principal') }}
                                    {{ form_errors(edit_form.principal) }}
                                    {{ form_widget(edit_form.principal) }}
                                    <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group{{ (edit_form.fotos.vars.errors|length? ' has-error': '') }}">
                                    {{ form_label(edit_form.fotos, 'Imagenes') }}
                                    {{ form_errors(edit_form.fotos) }}
                                    {{ form_widget(edit_form.fotos) }}
                                    <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{{ (edit_form.nombre_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.nombre_ingles, 'Nombre') }}
                        {{ form_errors(edit_form.nombre_ingles) }}
                        {{ form_widget(edit_form.nombre_ingles) }}
                    </div>
                    <div class="form-group{{ (edit_form.descripcion_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.descripcion_ingles, 'Descripción') }}
                        {{ form_errors(edit_form.descripcion_ingles) }}
                        {{ form_widget(edit_form.descripcion_ingles) }}
                    </div>
                    <div class="form-group{{ (edit_form.texto_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.texto_ingles, 'Texto') }}
                        {{ form_errors(edit_form.texto_ingles) }}
                        {{ form_widget(edit_form.texto_ingles) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
