{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Partner{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Listado</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th class="text-center">Miembros Oro</th>
                            <th class="text-center">Destacado</th>
                            <th class="text-center">Orden Destacado</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Orden</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.nombre }}</td>
                            <td class="text-center">{{ (entity.oro ? '<i class="fa fa-check verde"></i>' : '' ) | raw }}</td>
                            <td class="text-center">{{ (entity.destacado ? '<i class="fa fa-check verde"></i>'  : ''  ) | raw }}</td>
                            <td class="text-center">{{ entity.ordenDestacado }}</td>
                            <td class="text-center">{{ (entity.estado ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>' ) | raw }}</td>
                            <td class="text-center">{{ entity.orden }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="ver" href="{{ path('backend_partner_show', { 'categoria': app.request.get('categoria'), 'id': entity.id  }) }}" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                                    <a class="editar" href="{{ path('backend_partner_edit', { 'categoria': app.request.get('categoria'), 'id': entity.id  }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                    <a class="eliminar" href="{{ path('backend_partner_deleteForm', { 'categoria': app.request.get('categoria'), 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_partner_new', { 'categoria': app.request.get('categoria')  }) }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}