{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Crear{% endblock %}
{% block contenido %}
    {{ form_start(form, {'attr': {'role': 'form'} }) }}
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
                <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="espanol">
                    <div class="box-header">
                        <h3 class="box-title">Información General</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.nombre) }}
                        {{ form_row(form.nombre) }}
                        {{ form_row(form.descripcion) }}
                        {{ form_row(form.texto, {'label' : 'Texto' }) }}
                        <div class="row">
                            <div class="col-xs-12 padding-left-0">
                                <div class="col-xs-3">
                                    {{ form_row(form.provincia) }}
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group{{ (form.telefono.vars.errors|length? ' has-error': '') }}">
                                        {{ form_label(form.telefono) }}
                                        {{ form_errors(form.telefono) }}
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            {{ form_widget(form.telefono, {'attr': {'class': 'form-control', 'data-inputmask': '"mask": "999 99 99 99"', 'data-mask': 'data-mask' } }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    {{ form_row(form.contacto) }}
                                </div>
                            </div>
                            <div class="col-xs-12 padding-left-0">
                                <div class="col-xs-2">
                                    {{ form_row(form.estado, { 'label' : 'Publicado' }) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.destacado) }}
                                </div>
                                <div class="col-xs-3">
                                    {{ form_row(form.oro, { 'label' : 'Exclusivo miembros oro' }) }}
                                </div>
                            </div>
                            <div class="col-xs-12 padding-left-0">
                                <div class="col-xs-2">
                                    {{ form_row(form.orden, { 'label' : 'Orden en la sección' }) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.ordenDestacado, { 'label' : 'Orden en destacados' }) }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                {{ form_row(form.grande, { 'label' : 'Tamaño imagen principal' }) }}
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6 padding-left-0">
                                    <div class="form-group{{ (form.principal.vars.errors|length? ' has-error': '') }}">
                                        {{ form_label(form.principal, 'Imagen Principal') }}
                                        {{ form_errors(form.principal) }}
                                        {{ form_widget(form.principal) }}
                                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group{{ (form.fotos.vars.errors|length? ' has-error': '') }}">
                                        {{ form_label(form.fotos, 'Imagenes') }}
                                        {{ form_errors(form.fotos) }}
                                        {{ form_widget(form.fotos) }}
                                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ingles">
                    <div class="box-header">
                        <h3 class="box-title">Información a Traducir</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group{{ (form.nombre_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.nombre_ingles, 'Nombre') }}
                            {{ form_errors(form.nombre_ingles) }}
                            {{ form_widget(form.nombre_ingles) }}
                        </div>
                        <div class="form-group{{ (form.descripcion_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.descripcion_ingles, 'Descripción') }}
                            {{ form_errors(form.descripcion_ingles) }}
                            {{ form_widget(form.descripcion_ingles) }}
                        </div>
                        <div class="form-group{{ (form.texto_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.texto_ingles, 'Texto') }}
                            {{ form_errors(form.texto_ingles) }}
                            {{ form_widget(form.texto_ingles) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                <p class="help-block">Guardarás en todos los idiomas</p>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
