{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Viendo: {{ entity.nombre }}{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Datos</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 200px;">Nombre</th>
                                <td >{{ entity.nombre }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Provincia</th>
                                <td>{{ entity.provincia }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Telefono</th>
                                <td>{{ entity.telefono }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Contacto</th>
                                <td>{{ entity.contacto }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Imagen</th>
                                <td><img src="{{ asset(urlPartner ~ 'imagenes/' ~ entity.imagenPrincipal) }}" /></td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Descripción</th>
                                <td>{{ entity.descripcion|raw }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Texto</th>
                                <td>{{ entity.texto|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Imagenes</h3>
                </div>
                <div class="box-body">
                    <div id="lista-imagenes">
                        {% for imagen in imagenes %}
                            <div class="imagenes-list">
                                <div class="control-imagenes center">
                                    <a href="{{ path('backend_partner_delete_imagen', {'id': entity.id, 'categoria': app.request.get('categoria'), 'imagen': imagen.getFilename}) }}" class="btn btn-danger img-delete">Eliminar</a>
                                </div>
                                <img src="{{ asset(urlPartner  ~ 'imagenes/' ~ entity.imagenes ~ '/' ~ imagen.getFilename) | imagine_filter('my_thumb') }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
