{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Crear{% endblock %}
{% block contenido %}
    {{ form_start(form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.nombre, { 'label' : 'Nombre' }) }}
                    {{ form_row(form.descripcion, { 'label' : 'Descripción' }) }}
                    {{ form_row(form.email, { 'label' : 'Email' }) }}
                    <div class="form-group{{ (form.foto.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.foto, 'Imagen') }}
                        {{ form_errors(form.foto) }}
                        {{ form_widget(form.foto) }}
                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{{ (form.descripcion_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.descripcion_ingles, 'Descripción') }}
                        {{ form_errors(form.descripcion_ingles) }}
                        {{ form_widget(form.descripcion_ingles) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}