body{
    padding-top: 0;
}
html, body {
    height: 100%;
}
p{
    color: #666666;
}
#contenedor-principal{
    padding-bottom: 368px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
}
.wrapper:after{
    height:368px;
    display:block;
    clear:both;
}
header{
    margin-bottom: 10px;
}
.menu{
    position: relative;
    background-color: #3a9dd6;
    margin-bottom: 25px;
}
.menu nav{
    padding: 0;
}
.menu nav ul:first-child > li.active{
    background-color: #2587bf;
}
.menu nav ul:first-child > li.active.first{
    background-color: #3a9dd6;
}
footer {
    height: 368px;
    margin-top: -368px !important;
}
#top-menu{
    background-color: #444546;
    min-height: 27px;
    margin-bottom: 0;
    border-radius: 0;
}
#top-menu a{
    font-size: 14px;
    color: #ffffff;
    padding: 0;
    line-height: 10px;
}
#top-menu div:first-child{
    width: 995px;
}
#top-menu .nav>li>a:hover,
#top-menu .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
#redes{
    margin-top: 83px;
    margin-left: 0px;
    padding: 0;
}
.padding-cero{
    padding: 0;
}
#redes a:hover{
    text-decoration: none;
}
#contacto-header{
    margin-top: 5px;
    padding: 0;
    text-align: right;
    margin-bottom: 49px;
}
#contacto-header li{
    margin-bottom: 3px;
}

.menu nav > ul.nav > li a:hover{
    background-color: transparent;
    background-image: none;
}
.menu nav > ul.nav > li:first-child a{
    padding-left: 0 !important;
}
.menu nav > ul.nav > li:last-child a{
    padding-right: 0 !important;
    padding-left: 20px;
}
.en .menu nav > ul.nav > li:last-child a{
    padding-left: 19px;
}
.menu nav > ul.nav li.active a,
a.active{

}
.caret{
    margin-left: 5px;
    margin-top: -3PX;
}
.icono-espana{
    background: transparent url(../img/espana.jpg) no-repeat center center;
    display: inline-block;
    height: 12px;
    width: 16px;
    vertical-align: -1px;
}
.icono-ingles {
    background: transparent url(../img/ingles.png) no-repeat center center;
    display: inline-block;
    height: 12px;
    width: 16px;
    vertical-align: -1px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}
#idioma .dropdown-menu{
    min-width: 50px;
    padding: 2px;
}
#idioma .dropdown-menu li a{
    padding: 2px 21px;
}
header{
    padding-top: 10px;
}
#carousel-home .carousel-indicators{
    position: absolute;
    right: 13px;
    top: 10px;
    bottom: inherit;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    left: initial;
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: #4cabe1;
    border-color: #4cabe1;
    margin: 1px;
}
.carousel{
    border-radius: 0;
    overflow: hidden;
}
.carousel-caption h2{
    font-size: 40px;
    line-height: 41px;
    margin: 0;
}
.carousel-caption{
    left: inherit;
    right: inherit;
    width: 65%;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 0px;
}
#contenedor-seccion .col-xs-3 {
    width: 25%;
    padding-left: 22px;
    padding-right: 22px;
}
.bloques div.col-3:last-child {
    margin-right: 0;
}
.col-3{
    width: 23.25%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    margin-right: 22.6px;
}
#contenedor-seccion{
    margin-top: 18px;
}
.bloques a h1{
    font-size: 24px;
    color: #333333;
    font-weight: normal;
    margin-top: 9px;
    line-height: 30px;
    margin-bottom: 14px;
}
#contenedor-seccion p{
    color: #666666;
    font-size: 13px;
}
#banners{
    padding-bottom: 77px;
    margin-top: 45px;
}
#banners p{
    font-size: 13px;
    color: #666666;
    margin-bottom: 24px;
}
.en #banners p{
    min-height: 90px;
}
#banners div > div:first-child{
    padding-left: 0;
}
#banners > div > div:last-child{
    padding-left: 17px;
}
#patrocinadores{
    padding-top: 35px;
    padding-bottom: 35px;
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
}
#patrocinadores ul{
    width: 975px;
    margin: 0 auto;
}
footer{
    background-color: #424344;
    margin-top: 36px;
    color: #ffffff;
    padding-top: 42px;
}
footer #golfistas{
    background: #ffffff url(../img/footer.png) no-repeat top center;
    display: block;
    width: 100%;
    height: 168px;
    margin-bottom: 31px;
}
footer .container{
    padding: 0;
}
footer .container .col-xs-7{
    padding-left: 0;
}
footer .container .col-xs-4{
    padding-right: 0;
}
footer a{
    color: #919191;
}
footer a:hover{
    color: #919191;
    text-decoration: underline;
}
footer ul.col-xs-2{
    padding: 0;
}
footer ul.col-xs-2 a{
    color: #333333;
    font-size: 13px;
}
footer #datos ul{
    font-size: 13px;
    color: #666666;
    margin-top: 2px;
    line-height: 20px;
}
footer #datos ul a{
    color: #666666;
}
.breadcrumb{
    padding: 1px 10px;
    min-height: 23px;
    border-radius: 0;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    background-color: #f6f6f6;
    margin: 0 0 25px 0;
}
.breadcrumb>li+li:before {
    padding: 0;
    color: #333333;
}
.breadcrumb li a{
    font-size: 13px;
    font-weight: bold;
    color: #4cabe1;
}
.breadcrumb>.active{
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}
.breadcrumb > li{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    vertical-align: middle;
}

.breadcrumb > li + li:before {
    content: '/';
    padding-left: 4px;
    padding-right: 3px;
}
.breadcrumb li:first-child:before{
    content : none;
    padding-right: 0;
}
h1.titulo{
    font-size: 29px;
    color: #333333;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 19px;
}
.bloques a h1.activo{
    color: #4cabe1;
}
#contenedor-mas-bloques{
    border-top: 1px dotted #a6a6a6;
    margin-top: 9px;
    position: relative;
}
#contenedor-mas-bloques table{
    width: 100%;
}
#contenedor-mas-bloques h1:first-child{
    padding-top: 28px;
    margin-top: 0px;
}
#contenedor-mas-bloques div h1{
    font-size: 25px;
    margin-bottom: 39px;
}
#contenedor-mas-bloques > div{
    display: none;
}
.tabla-stylo-1{
    border-collapse: inherit;
    padding: 0;
    padding-right: 16px;
}
.tabla-stylo-1 thead th{
    background-color: #f6f6f6;
    color: #4cabe1;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px dotted #a6a6a6;
    padding: 1px 3px;
}
.tabla-stylo-1 tbody tr td{
    border-bottom: 1px dotted #a6a6a6;
    padding: 3px 4px;
    font-size: 15px;
    padding-right: 18px;
}
.tabla-stylo-1 tbody tr td:last-child{
    text-align: right;
}
.ultima-tabla{
    padding-right: 0;
    padding-left: 9px;
}
.margen-especial{
    margin-bottom: 109px;
}
.icono-pdf{
    display: inline-block;
    height: 20px;
    background: transparent url(../img/pdf.jpg) no-repeat center center;
    width: 55px;
    vertical-align: middle;
}
#descarga-pdf-clases{
    margin-top: 31px;
    color: #333333;
    font-size: 13px;
    padding-left: 0;
}
.bloques a:hover {
    text-decoration: none;
}
.bloques a:hover h1{
    color: #4cabe1;

}
#piramide{
    background: transparent url(../img/piramide.jpg) top center no-repeat;
    display: block;
    height: 14px;
    width: 35px;
    position: absolute;
    top: -14px;
}
.tarifa-1-piramide{
    left: 90px;
}
.tarifa-2-piramide{
    left: 333px;
}
.tarifa-3-piramide{
    left: 593px;
}
.tarifa-4-piramide{
    left: 844px;
}
#texto-el-campo{
    position: relative;
    min-height: 280px;
    color: #666666;
}
.texto {
    padding: 0;
}
#texto-el-campo img{
    right: 0;
    top: 20px;
    position: absolute;
    top: -52px;
}
.fila-el-campo{
    margin-bottom: 9px;
}
.fila-el-campo > div.col-xs-4:first-child,
.fila-el-campo > div.col-xs-4:nth-child(4n){
    margin-left: -15px;
    padding-right: 0;
}
.fila-el-campo > div.col-xs-4:nth-child(5n),
.fila-el-campo > div.col-xs-4:nth-child(2){
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding-right: 0;
}
.fila-el-campo > div:last-child{
    padding-right: 0;
}
.fila-el-campo h2{
    font-size: 15px;
    font-weight: bold;
    color: #4cabe1;
    background-color: #f6f6f6;
    padding: 4px 10px 3px 10px;
    margin-top: 0px;
}
.fila-el-campo p{
    color: #666666;
    font-size: 13px;
    padding: 8px 10px;
    line-height: 20px;
    margin-bottom: 3px;
    min-height: 96px;
}
.en .fila-el-campo p{
    min-height: 116px;
}
.fila-el-campo > div.col-xs-4{
    min-height: 365px;
}
.fila-el-campo > div.col-xs-4:nth-child(3n){
    padding-right: 0;
}
.enlaces, .enlaces a{
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    padding: 4px 5px;
}
.linea-titulo{
    border-bottom: 1px dotted #a6a6a6;
    padding-bottom: 7px;
}
h2.titulo {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 22px;
    margin-top: 22px;
}
h3.titulo-torneo{
    font-size: 17px;
    color: #333333;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 3px;
}
.lugar{
    font-size: 13px;
    font-weight: bold;
    color: #289aea;
    margin-bottom: 16px;
}
.bold{
    font-weight: bold;
}
.datos-torneo{
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 20px;
}
.descarga-reglamento{
    font-size: 13px;
    color: #333333;
    margin-left: 55px;
}
.icono-pdf-2{
    background: transparent url(../img/pdf-2.jpg) no-repeat center center;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 7px;
    vertical-align: top;
}
.btn-azul{
    padding: 4px 30px;
    color: #ffffff;
    background-color: #4cabe1;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    margin-left: 6px;
}
.acciones{
    margin-top: -5px;
}
.fila-torneo{
    border-bottom: 1px dotted #a6a6a6;
    padding-bottom: 19px;
    margin-bottom: 20px;
}
h3.titulo-mapa{
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0px;
}
#info-direccion{
    padding-left: 10px;
}
#direccion{
    font-size: 15px;
    margin-top: 20px;
}
#info-direccion ul{
    margin-top: 18px;
    font-size: 15px;
}
#info-direccion ul a{
    font-size: 15px;
    color: #333333;
}
#mapa{
    margin-top: 23px;
    margin-bottom: 20px;
}
.titulo-oferta{
    font-size: 25px;
    font-weight: normal;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 4px;
}
.oferta .contenido p.precio{
    font-weight: normal;
    font-size: 25px;
    color: #4cabe1;
    margin-bottom: 1px;
}
.oferta .texto{
    color: #666666;
    font-size: 13px;
    line-height: 20px;
}
.oferta ul{
    margin-top: 31px;
    font-size: 13px;
    line-height: 19px;
}
.oferta{
    border-bottom: 1px dotted #a6a6a6;
    padding-bottom: 10px;
    margin-bottom: 26px;
}
#ofertas{
    margin-top: 9px;
    margin-bottom: 70px;
}
#patrocinadores ul li{
    padding-right: 56px;
    padding-left: 0;
}
#patrocinadores ul li:last-child{
    padding-right: 0;
}
#descarga-pdf-clases:hover{
    text-decoration: none;
}
#ofertas div.oferta:last-child{
    border-bottom: 0px;
}
.precio-correspondencia{
    padding: 0;
    /*color: #289aea;*/
}
.fila-correspondencia .datos-torneo{
    line-height: 16px;
    margin-bottom: 0px; /*21*/
}
.fila-correspondencia h3.titulo-torneo {
    margin-top: 0;
    margin-bottom: 6px;
}
.fila-correspondencia{
    border-bottom: 1px dotted #a6a6a6;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
#correspondencias div.fila-correspondencia:last-child{
    border-bottom:0;
    margin-bottom: 20px;
}
.nivoSlider {
    width: 800px;
}
.nivo-lightbox-wrap {
    width: 880px;
    height: 100%;
    margin: auto;
    position: relative;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;

}
.nivo-lightbox-content,
.nivo-lightbox-ajax,
.nivo-lightbox-content iframe {
    min-height: 450px;
}
.texto-azul{
    color: #289aea;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
#mc_embed_signup{
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
}
.email{
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 37px;
}
#mc-embedded-subscribe{
    background-color: #4cabe1;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    color: #ffffff;
    height: 37px;
}
.padding-0{
    padding: 0 !important;
}
.container-button-emial{
    padding-right: 0;
    padding-left: 4px;
}
#mc-embedded-subscribe:hover{
    background-color: #41a5db;
}
#propuestas{
    margin-top: 9px;
    padding-right: 0;
}
.propuesta h5{
    font-weight: normal;
    margin-bottom: 16px;
    font-size: 18px;
    color: #333;
}
.propuesta p{
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 18px;
}
.propuesta a{
    color: #4cabe1;
    font-size: 12px;
    font-weight: bold;
}
.propuesta{
    border-bottom: 1px solid #a6a6a6;
    margin-bottom: 23px;
    padding-bottom: 13px;
}
#propuestas .propuesta:last-child{
    border-bottom: 0;
}
.pagina{
    margin-bottom: 75px;
}
.pagina h1, .pagina h2{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
#circuito .contenido-texto {
    border-bottom: 1px dotted #a6a6a6;
    margin-bottom: 24px;
    padding-bottom: 17px;
}
#circuito .contenido-texto:last-child{
    border-bottom: 0px;
}
h2.titulo-2{
    font-size: 16px;
    font-weight: bold !important;
    color: #333333;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
}
.texto-2{
    padding-left: 0;
    padding-right: 64px;
    padding-top: 49px;
}
#mc_embed_signup{
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-right-0{
    padding-right: 0;
}
.padding-left-0{
    padding-left: 0 !important;
}
.margin-top-10{
    margin-top: 10px;
}
.form-email-2 input[type="submit"]{
    margin-top: 47px;
}
.btn-amarillo{
    background-color: #e7ab08 !important;
}
.nivo-lightbox-title{
    display: none;
}
.fila-el-campo .hoyo{
    position: relative;
    display: block;
    padding-right: 2px;
}
.icono-play{
    background: url(../img/play.png) no-repeat center center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.descargas-competiciones a:first-child{
    margin-left: 0;
}
.btn-azul:hover {
    background-color: #41a5db;
    text-decoration: none;
    color: #ffffff;
}
footer h4{
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}
footer .email{
    border-radius: 0;
    height: 32px;
    color: #000000;
}
footer .container-button-emial {
    padding-left: 0px;
}
footer #mc-embedded-subscribe {
    height: 32px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-left: 13px;
}
footer #mc_embed_signup {
    margin-bottom: 38px;
}
#mc_embed_signup {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}
#contacta p{
    color: #919191;
    font-size: 12px;
    margin: 0;
}

#contacta{
    margin-top: 33px;
}
footer #datos p{
    margin-top: 15px;
    border-top: 1px solid #888888;
    padding-top: 11px;
    color: #919191 !important;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
}
footer #datos span{
    padding-left: 5px;
    padding-right: 5px;
}

.carousel-caption a{
    color: #ffffff;
}
.carousel-caption a:hover{
    text-decoration: none;
}
#datos p{
    margin-bottom: 0;
}
body{
    /*background: transparent url(../img/fondo.jpg) no-repeat center top;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#centro{
    padding-right: 0;
}

#fila-uno{
    padding-bottom: 20px;
    margin-bottom: 16px;
}
#columna-1{
    padding-left: 0;
    padding-right: 10px;
}
#columna-1 h1{
    margin-top: 0;
}
.noticia{
    font-size: 13px;
    border-top: 1px solid #e6e6e6;
    padding-top: 12.5px;
    margin-top: 12.5px;
}
#columna-1 div:nth-child(2){
    border: 0;
}
.noticia a,
.noticia time{
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    color: #333333;
}
.noticia a:hover{
    text-decoration: none;
    color: #444444;
}
.noticia time{
    color: #289aea;
}
.noticia p{
    color: #666666;
    font-size: 13px;
}
#bloques a h1{
    font-size: 25px;
    color: #333333;
}
#bloques a h1{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 10px;
}
#bloques a:hover{
    text-decoration: none;
}
#bloques a:hover h1{
    color: #3a9dd6;
}
.oferta .contenido p{
    color: #666666;
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}









#menu-interior{
    background-color: #e8e8e8;
    margin-bottom: 18px;
    margin-top: 6px;
}
#menu-interior ul {
    line-height: 24px;
    padding-left: 5px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}
#menu-interior ul li{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
}
#menu-interior ul li:first-child{
    margin-left: 5px;
}
#menu-interior ul li a {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
}
#menu-interior ul li.current a{
    color: #4cabe1;
}
#menu-interior ul li a:hover{
    color: #4cabe1;
    text-decoration: none;
}
#menu-interior ul li.last a,
#menu-interior ul li.last span{
    background-color: #4cabe1;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 14px;
    margin-left: 100px;
}
#menu-interior ul li.last a:hover{
    text-decoration: none;
    background-color: #45A0D3;
}
h1.titulo{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #e6e6e6;
    width: 53%;
    margin-bottom: 25px;
}
.titulo-3{
    font-size: 15px;
    color: #4cabe1;
    margin: 0;
    font-weight: bold;
}
.titulo-2{
    font-family: Helvetica, Arial;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: normal;
}
.texto-3{
    color: #666666;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
#bloque-objetivos{
    margin-top: 10px;
}
#bloque-objetivos li:first-child {
    background-color: #e8e8e8;
    font-weight: bold;
    padding: 2px 0 0 7px;
}
#bloque-objetivos li{
    color: #333333;
    font-size: 15px;
    padding: 0 0 0 7px;
    font-family: Helvetica, Arial;
}
.titulo-4{
    margin-top: 0px;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
    background-color: transparent;
}
.margin-top-10{
    margin-top: 10px;
}
.padding-left-10{
    padding-left: 10px;
}
.fila-imagenes{
    margin-bottom: 30px;
    margin-top: 10px;
    display: inline-block;
}
.linea-titulo-superior{
    border-top: 1px dotted #a6a6a6;
    padding-top: 13px;
    padding-top: 20px;
    margin-top: 20px;
}
.margin-0{
    margin: 0;
}
.profesor h5{
    color: #393838;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}
.profesor p{
    min-height: 98px;
}
.profesor a{
    font-weight: bold;
    font-size: 13px;
}
.profesor a:hover{
    text-decoration: none;
}
.margin-left-10{
    margin-left: 10px;
}
.profesores .profesor:first-child .linea-titulo-superior{
    margin-top: 13px;
}
.profesores{
    margin-bottom: 50px;
}
#plan-trabajo{
    margin-top: 20px;
}
#plan-trabajo td, #plan-trabajo th{
    text-align: center;
}
#plan-trabajo, #plan-trabajo td, #plan-trabajo th{
    border: 1px solid #c9c9c9;

}
#plan-trabajo th{
    width: 12.5%;
    height: 70px;
}
#plan-trabajo td{
    padding: 10px 7px;
}
#plan-trabajo thead th{
    height: inherit;
    font-size: 15px;
    font-weight: bold;
    background-color: #f9f9f9;
    padding-top: 2px;
    padding-bottom: 2px;
}
#plan-trabajo thead th.fondo-azul{
    background-color: #4cabe1;
    color: #ffffff;
}
/* Tablet */
.mobile .menu nav > ul.nav li a {
    padding: 0.9em 0.91em;
    font-size: 1em;
}
.mobile a#zona-jugadores {
    margin-left: 13.75%;
}
.en.mobile .menu nav > ul.nav li a {
    padding: 11px 15px 9px 14px;
}
.en.mobile .menu nav > ul.nav > li:last-child a{
    padding-left: 16px;
}

.mac .menu nav > ul.nav li a {
    padding: 11px 10px 9px 10px;
    font-size: 1em;
}
.ipad .menu nav > ul.nav li a,
.iphone .menu nav > ul.nav li a {
    padding: 11px 10px 9px 10px;
    font-size: 1em;
}
.en.ipad .menu nav > ul.nav > li:last-child a,
.en.iphone .menu nav > ul.nav > li:last-child a{
    padding-left: 17px;
}
.en.ipad .menu nav > ul.nav li a,
.en.iphone .menu nav > ul.nav li a {
    padding:  11px 11px 9px 10px;
    font-size: 1em;
}
.ipad a#zona-jugadores,
.iphone a#zona-jugadores {
    margin-left: 8.4%;
}
.mac a#zona-jugadores {
    margin-left: 8.959%;
}
.en.mac .menu nav > ul.nav li a {
    padding: 11px 11px 9px 10px;
}
.mobile #menu-interior ul li.last a,
.mobile #menu-interior ul li.last span{
    margin-left: 143px;
}
.ipad #menu-interior ul li.last a,
.ipad #menu-interior ul li.last span,
.iphone #menu-interior ul li.last a,
.iphone #menu-interior ul li.last span{
    margin-left: 74px;
}
.mac #menu-interior ul li.last a,
.mac #menu-interior ul li.last span{
    margin-left: 76px;
}
/****************************************/

.menu nav > ul.nav > li > a {
    padding: 11px 8px 9px 8px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent !important;
    background-image: none !important;
}
.en .menu nav > ul.nav li a {
    padding: 11px 9px 9px 9px;
}
.noticia a{
    display: block;
    font-size: 18px;
    font-weight: normal;
}
#bloques div:first-child{
    padding-right: 10px;
    padding-left: 0;
}
#bloques > div:last-child{
    padding-right: 0;
    padding-left: 11px;
}
#bloques > div{
    padding-left: 6px;
    padding-right: 6px;
}
#estatico h1{
    font-size: 29px;
    color: #333333;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 19px;
}
.titulo-seccion{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #e6e6e6;
}
.menu .dropdown-menu a{
    color: #666666;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
}
.menu .dropdown-menu{
    border: 0;
    border-radius: 0;
    -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0,  0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
}
.menu .dropdown-menu li{
    border-bottom: 1px solid #e6e6e6;
}
.menu .dropdown-menu li:last-child{
    border-bottom: 0;
}
.menu .dropdown-menu li:hover{
    background-color: #f6f6f6;
}
.menu .dropdown-menu li.active a,
.menu .dropdown-menu li.active:hover a{
    color: #3a9dd6;
    font-weight: bold;
}
.menu .dropdown-menu li:hover a{
    color: #666666;
}
.menu .dropdown-menu li.active{
    background-color: #f6f6f6;
}
.icono{
    background: transparent url(../img/iconos.png) no-repeat left top;
    display: inline-block;
    height: 34px;
    width: 34px;
    vertical-align: -8px;
    margin-bottom: -1px;
    margin-right: 8px;
}
.icono-noticias{

}
.icono-competiciones{
    background-position: -136px 0;
}
.icono-donde-estamos{
    background-position: -170px 0;
}
.icono-el-campo{
    background-position: 0 -33px;
}
.icono-escuela{
    background-position: 0 -33px;
}
.icono-tarifas{
    background-position: -69px -34px;
}
.icono-ofertas{
    background-position: -170px -34px;
}
.icono-correspondencias{
    background-position: 0 -66px;
}
.titulo-escuela{
    margin-top: 26px;
}
.icono-partner{
    background-position: -136px -34px;
}
.icono-galeria{
    background-position: -137px -68px;
}
.icono-politicas {
    background-position: -170px -68px;
}
#estatico h1{
    font-size: 22px;
    color: #333333;
    font-weight: normal;
    margin-bottom: 22px;
    margin-top: 22px;
    width: 100%;
    border: 0;
}
.noticia-interior{
    width: 70% !important;
}
#propuestas .titulo{
    width: 100%;
    padding-bottom: 5px;
}
#top-menu .navbar-nav > li {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    border-left: 1px solid #ffffff;
    line-height: 10px !important;
    margin-top: 7px;
}
#top-menu .navbar-nav > li:first-child {
    border-left: 0;
}
.float-left{
    float: left;
}
.titulo-patrocinadores{
    margin-bottom: 15px;
    padding-left: 5px !important;
}
#banners .texto h5{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 0;
}
#banners .texto{
    float: left;
    padding-left: 0;
}
.linea-superior{
    border-top: 1px solid #e6e6e6;
}

#torneos div.fila-torneo:last-child{
    border-bottom: 0;
}
.menu nav > ul.nav > li > a:hover {
    background-color: #3283b2 !important;
}
.pagina ul li{
    color: #666666;
}
.en #menu-interior ul li.last a,.en #menu-interior ul li.last span {
    padding: 4px 27px;
    margin-left: 168px;
}
.en.mobile #menu-interior ul li.last a, .en.mobile #menu-interior ul li.last span {
    margin-left: 207px;
}
.center{
    text-align: center;
}
#partner .breadcrumb li a {
    color: #cbac29;
}

.sidebar-menu{
    margin: 0;
    list-style: none;
    padding: 0;
}
.partner-club > ul > li > a{
    background-color: #f6f6f6;

}
.partner-club ul > li > a{
    margin-bottom: 2px;
    display: block;
    width: 100%;
    color: #666666;
    font-size: 13px;
    padding: 2px 10px;
}
.partner-club .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.partner-club > .sidebar-menu > li.active > a{
    background-color: #cbac29;
    color: #ffffff;
}
.partner-club > .sidebar-menu > li.active > ul > li.active a{
    background-color: #f6f6f6;
}
.partner-club > .sidebar-menu > li > ul > li a{
    margin-left: 0 !important;
    padding-left: 29px;
}
.sin-linea{
    border-bottom: 0 !important;
}
.margin-top-30{
    margin-top: 30px !important;
}

.partner-destacado a h6{
    font-weight: bold;
    font-size: 18px;
    color: #3a9dd6;
    margin-top: 25px;
}
.partner-destacado a:hover{
    text-decoration: none;
}
.partner-destacado{
    font-size: 13px;
    color: #333333;
    min-height: 383px;
}
.pequeno p{
    max-width: 306px;
}
.partner-destacado .provincia{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.partner-destacado .exclusivo-oro{
    color: #cbac29;
    font-size: 13px;
    font-weight: bold;
}
.ver-mas{
    position: absolute;
    left: 90px;
    top: 84px;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    border: 1px solid #ffffff;
    padding: 6px 43px;
    display: none;
}
.partner-destacado a:hover .ver-mas{
    display: block;
}
.listado-partners .pequeno{
    padding-right: 15px;
    padding-left: 0;
}
.listado-partners .pequeno + .pequeno{
      padding-left: 15px;
    padding-right: 0;
  }
.imagenes-pequenas-partner {
    float: left;
    padding-right: 4.6%;
}
#lista-imagenes-partner{
    margin-top: 15px;
}
#miembro-oro-info{
    margin-top: 13px;
    background-color: #f6f6f6;
    padding: 2px 7px;
    color: #cbac29;
    font-weight: bold;
    font-size: 13px;
}
#titulo-partner-info{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 13px;
    padding-left: 0;
    margin-bottom: 5px;
}
#partner-contacto{
    margin-top: 10px;
}
.size-13{
    font-size: 13px;
}
#tarjeta .control-label {
    text-align: left;
}
.simular-label,
.control-label,
.recogida label{
    font-size: 13px;
    color: #333333;
    font-weight: bold;
}
.simular-label{
    margin-bottom: 0;
    padding-top: 5px;
    max-width: 332px;
}
.recogida label{
    margin-right: 10px;
}
.recogida input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: -6px;
}
.submit-tarjeta{
    text-align: right;
}
.submit-tarjeta button{
    padding-right: 20px;
    padding-left: 20px;
}
.form-control{
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0;
    border-radius: 2px;
    height: 28px;
}
.form-group{
    margin-bottom: 2px;
}
.size-15{
    font-size: 15px;
}
.icheckbox_minimal {
    margin-left: 10px;
}

.info_cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 1);
    border-top: 3px solid #289aea;
    padding: 30px 10px 10px 10px;
    z-index: 99999;
}
.info_cookies{
    display: none;
}
.info_cookies .close{
    position: absolute;
    top: -20px;
    right: 0;
    float: none;
}
.position-relative{
    position: relative;
}
#contenedor-video .club a h3 {
    min-height: 30px;
}
.club-container{
    margin-left: -10px;
    margin-right: -10px;
}
.club{
    padding-left: 10px;
    padding-right: 10px;
    color: #666666;
    margin-bottom: 30px;
}
.club a h3{
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 2px;
    color: #666666;
}
.club a,
.club a:hover h3,
.club a:hover time{
    color: #289aea;
    text-decoration: none;
}
.club a time{
    color: #666666;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.dropdown .dropdown-menu li.active a{
    background-color: #F6F6F6 !important;
    color: #666666;
    font-weight: normal;
    background-image: none;
}
.dropdown .dropdown-menu li a:hover{
    color: #333;
    font-weight: normal;
}
.dropdown .dropdown-menu li.active a:hover{
    color: #666666;
    font-weight: normal;
}
/* moviles */
/*@media only screen and (max-width: 970px) and (orientation: portrait) {
    .mobile body{
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
    .mobile #top-menu div:first-child {
        width: 100%;
        padding-right: 15px !important;
    }
    .mobile .container {
        width: 100%;
        max-width: none !important;
        padding-left: 29px;
        padding-right: 29px;
    }
    .mobile h1.titulo {
        width: 45%;
    }
    .mobile #patrocinadores ul li {
        padding-right: 15px;
    }
    .mobile #patrocinadores ul {
        width: 100%;
    }
    .mobile #datos{
        font-size: 11px;
    }
    .mobile #redes {
        margin-left: 23px;
    }
    .mobile header nav > ul.nav li a {
        padding: 0.9em 0.27em;
        font-size: 0.96em;
    }
    .mobile header .menu nav {
        padding: 0 13px;
    }
}*/
