{% extends '::baseFrontend.html.twig' %}

{% block stylesheets %}
    {# En css se usa esta manera de ruta, no como en javascript de usar @Bundle porque parece que produce fallos con el filter#}
    {% stylesheets 'bundles/bootstrap/generico/css/*.css'
                   'bundles/bootstrap/frontend/css/*.css' filter='cssrewrite, ?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts '@BootstrapBundle/Resources/public/generico/js/*.js'
                   '@BootstrapBundle/Resources/public/frontend/js/*.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-24979084-1', 'auto');
        ga('send', 'pageview');

    </script>
    <div id="top-menu" class="navbar" role="navigation">
        <div class="container navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="mailto:info@escueladegolfmaj.es" title="{{ "Contacta" | trans }}" target="_blank">{{ "Contacta" | trans }}</a></li>
                <li><a href="http://www.twitter.com/escuelagolfmaj" title="{{ "Ir a" | trans }} Twitter" target="_blank">{{ "Twitter" | trans }}</a></li>
                <li><a href="https://www.facebook.com/miguelangeljimenezgolfacademy" title="{{ "Ir a" | trans }} Facebook" target="_blank">{{ "Facebook" | trans }}</a></li>
                <li><a href="http://eepurl.com/SVJMb" title="{{ "Lista de correo" | trans }}" target="_blank">{{ "Lista de correo" | trans }}</a></li>
            </ul>
        </div>
    </div>
    <div id="contenedor-principal">
        <div class="wrapper">
            <header class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <a class="col-xs-3 padding-cero" href="{{ path('frontend_homepage_idioma') }}" title="Miguel Ángel Jiménez Golf Academy">
                                <img src="{{ asset('bundles/bootstrap/frontend/img/logo.jpg') }}" title="Miguel Ángel Jiménez Golf Academy" alt="{{ "Logotipo de" | trans }} Miguel Ángel Jiménez Golf Academy">
                            </a>
                            <div class="col-xs-2" id="redes">
                                <a href="https://www.facebook.com/miguelangeljimenezgolfacademy" title="{{ "Facebook de" | trans }} Migue Ángel Jiménez Golf Academy">
                                    <img src="{{ asset('bundles/bootstrap/frontend/img/facebook.jpg') }}" title="{{ "Facebook de" | trans }} Miguel Ángel Jiménez Golf Academy" alt="{{ "Logotipo de" | trans }} Facebook">
                                </a>
                                <a href="http://www.twitter.com/escuelagolfmaj" title="{{ "Twitter de" | trans }} Miguel Ángel Jiménez Golf Academy">
                                    <img src="{{ asset('bundles/bootstrap/frontend/img/twitter.jpg') }}" title="{{ "Twitter de" | trans }} Miguel Ángel Jiménez Golf Academy" alt="{{ "Logotipo de" | trans }} Twitter">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <ul id="contacto-header" class="list-unstyled col-xs-12">
                                <li><strong>{{ "Teléfono de reservas" | trans }}:</strong> 951 909 490</li>
                                <li><strong>{{ "Email" | trans }}:</strong> <a href="mailto:info@escueladegolfmaj.es" title="{{ "Evianos un email" | trans }}">info@escueladegolfmaj.es</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="menu">
                <nav class="container">
                    {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:principalMenu', [], {'locale': locale}) %}
                    {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu.html.twig'}) }}
                </nav>
            </div>
            {% block contenido %}{% endblock %}
    {% render(controller('FrontendBundle:Default:publicidad')) %}
        </div>
    {% render(controller('FrontendBundle:Default:patrocinadores')) %}
    </div>
    <footer class="container-fluid">
        <div class="container">
            <div class="col-xs-7">
                <div class="col-xs-3 padding-left-0">
                    <h4>{{ "Portada" | trans }}</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('frontend_homepage_idioma') }}">{{ "Inicio" | trans }}</a></li>
                        <li><a href="">{{ "Tarifas" | trans }}</a></li>
                        <li><a href="{{ path('frontend_ofertas') }}">{{ "Ofertas" | trans }}</a></li>
                        <li><a href="{{ path('frontend_elcampo') }}">{{ "El campo" | trans }}</a></li>
                        <li><a href="{{ path('frontend_donde_estamos') }}">{{ "Donde estamos" | trans }}</a></li>
                        <li><a href="javascript:void(0);">{{ "Patrocinadores" | trans }}</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h4>{{ "Amigos" | trans }}</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('frontend_homepage_idioma') }}">{{ "Escuela de golf" | trans }}</a></li>
                        <li><a href="{{ path('frontend_competiciones') }}">{{ "Competiciones" | trans }}</a></li>
                        <li><a href="{{ path('frontend_correspondencias') }}">{{ "Correspondencias" | trans }}</a></li>
                        <li><a href="javascript:void(0);">{{ "Tienda" | trans }}</a></li>
                        <li><a href="mailto:info@escueladegolfmaj.es">{{ "Contacta" | trans }}</a></li>
                    </ul>
                </div>
                <div class="col-xs-5">
                    <h4>Miguel Ángel</h4>
                    <ul class="list-unstyled">
                        <li><a href="./miguel-angel-jimenez.php">{{ "¿Quien es?" | trans }}</a></li>
                        <li><a href="http://circuitomiguelangeljimenez.es" tarjet="_blank">{{ "Circuito Miguel Ángel Jiménez" | trans }}</a></li>
                        <li><a href="javascript:void(0);">{{ "Video clases" | trans }}</a></li>
                        <li><a href="http://www.ping.com" target="_blank">Ping</a></li>
                        <li><a href="http://www.rixson.com" target="_blank">Rixon</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                {% if locale == 'es' %}
                    {% set action = "http://escueladegolfmaj.us3.list-manage.com/subscribe/post?u=1c556f63763750653dd5a734b&amp;id=3256d0bced"  %}
                    {% set codec = "b_1c556f63763750653dd5a734b_3256d0bced" %}
                {% else %}
                    {% set action = "http://escueladegolfmaj.us3.list-manage1.com/subscribe/post?u=1c556f63763750653dd5a734b&amp;id=e499887c87"  %}
                    {% set codec = "b_1c556f63763750653dd5a734b_e499887c87" %}
                {% endif %}
                <h4{{ "Recibe las últimas novedades" | trans }}</h4>
                <div id="mc_embed_signup" class="col-xs-12">
                    <form action="{{ action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate row" target="_blank" novalidate>
                        <div class="form-group">
                            <div class="col-xs-7 padding-0">
                                <input type="email" value="" name="EMAIL" class="email col-xs-12" id="mce-EMAIL" required>
                            </div>
                            <div class="col-xs-4 container-button-emial">
                                <input type="submit" value="{{ "Suscribir" | trans }}" name="subscribe" id="mc-embedded-subscribe" class="button col-xs-12">
                            </div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ codec }}" tabindex="-1" value=""></div>
                    </form>
                </div>
                <h4>{{ "Siguenos en las redes" | trans }}</h4>
                <div>
                    <a href="https://www.facebook.com/miguelangeljimenezgolfacademy" title="{{ "Ir al Facebook de Miguel Ángel Jiménez" | trans }}" tarjet="blank"><img src="{{ asset('bundles/bootstrap/frontend/img/footer-facebook.png') }}" title="{{ "Ir a Facebook de Miguel Ángel Jiménez Golf Academy" | trans }}" alt="{{ "Logotipo de" | trans }} Facebook"></a>
                    <a href="http://www.twitter.com/escuelagolfmaj" title="{{ "Ir al Twitter de Miguel Ángel Jiménez" | trans }}" tarjet="blank"><img src="{{ asset('bundles/bootstrap/frontend/img/footer-twitter.png') }}" title="{{ "Ir a Twitter de Miguel Ángel Jiménez Golf Academy" | trans }}" alt="{{ "Logotipo de" | trans }} Twitter"></a>
                </div>
                <div id="contacta">
                    <h4>{{ "Contacta con nosotros" | trans }}</h4>
                    <p>{{ "Calle" | trans }} Corelli SN, 29630 Torreilinos, Málaga</p>
                    <p><a href="{{ path("frontend_homepage_idioma") }}" title="Miguel Ángel Jiménez Golf Academy">www.escueladegolfmaj.es</a> | <a href="mailto:info@escueladegolfmaj.es" title="{{ "Contacta por correo electrónico" | trans }}">info@escueladegolfmaj.es</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="datos">
                <p><img src="{{ asset('bundles/bootstrap/frontend/img/logo-footer.png') }}" title="Miguel Ángel Jiménez Golf Academy" alt="{{ "Logotipo de" | trans }} Miguel Ángel Jiménez Golf Academy">Miguel Ángel Jiménez Golf Academy <span>|</span> {{ "Todos los derechos reservados, %fecha%" | trans({ '%fecha%': "now"|date('Y') }) }} <span>|</span> <a href="javascript:void(0);">{{ "Política de privacidad" | trans }}</a> <span>|</span> <a href="javascript:void(0);">{{ "Términos y condiciones" | trans }}</a></p>
            </div>
        </div>
    </footer>
    <div class="info_cookies">
        <div class="container padding-0 position-relative">
            <a href="#" title="Aceptar y cerrar" class="close" id="aceptar_cookies">X</a>
            <p>
                <strong>USO DE COOKIES.</strong> Utilizamos cookies propias y de terceros para mejorar la experiencia de navegación, y ofrecer contenidos y publicidad de interés. <br> Al continuar con la navegación entendemos que se acepta nuestra <a title="Ver política de cookies" href="{{ path('frontend_web_cookies') }}" target="_blank" id="cookies-landing">política de cookies</a>.
            </p>
        </div>
    </div>

{% endblock %}