{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <h1 class="titulo titulo-escuela"><i class="icono icono-escuela"></i> {{ "Escuela de Golf anual" |trans }}</h1>
            <div id="menu-interior">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:escuelaMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
    </div>
    <div class="container" id="texto-el-campo">
        <div class="row">
            <p class="col-xs-9 texto linea-titulo">{{ "El próximo mes de septiembre arranca el primer curso de la Escuela de Golf Miguel Ángel Jiménez, para todos los niños entre 4 y 16 años. Una Escuela anual donde no todo será jugar al golf.. En breve os daremos más información, aunque de momento puedes apuntarte a nuestra lista de correo para estar más informado." | trans }}</p>
            <img src="{{ asset('bundles/bootstrap/frontend/img/miguel-angel-jimenez.jpg') }}" title="Miguel ángel Jiménez" alt="Miguel ángel Jiménez">
            <h1 class="col-xs-9 texto-2">{{ "Muy pronto recibirás toda la información necesaria, mientras tanto déjanos tu email para que avisemos.." | trans }}</h1>
        </div>

    </div>
    <div class="container margin-bottom-50">
        <div class="row">
            <div id="mc_embed_signup" class="row">
                {# action y codec vienen definidas en Bootstrap:Frontend:frontend.html.twig #}
                <form action="{{ action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-email-2" target="_blank" novalidate>
                    <div class="col-xs-9">
                        <div class="col-xs-6 padding-right-0 padding-left-0">
                            <input type="text" value="" name="FNAME" class="col-xs-12 email" id="mce-FNAME" placeholder="Nombre">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" value="" name="LNAME" class="col-xs-12 email" id="mce-LNAME" placeholder="Apellidos">
                        </div>
                        <div class="col-xs-12 margin-top-10 padding-left-0">
                            <input type="email" value="" name="EMAIL" class="required email col-xs-12" id="mce-EMAIL" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-xs-3 padding-left-0">
                        <input type="submit" value="{{ "Subscribe" | trans }}" name="subscribe" id="mc-embedded-subscribe" class="button col-xs-12 btn-amarillo">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="{{ codec }}" tabindex="-1" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}