{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container margin-bottom-50">
        <div class="row">
            <h1 class="titulo titulo-escuela"><i class="icono icono-escuela"></i> {{ "Escuela de Golf anual" |trans }}</h1>
            <div id="menu-interior">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:escuelaMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
        <div class="row" id="estatico">
            {{ entity.texto | raw }}
        </div>
    </div>
{% endblock %}