{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/nivo-slider.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/themes/default/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/themes/default/default.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-slider/jquery.nivo.slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.js') }}" type="text/javascript"></script>
{% endblock %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container margin-bottom-50">
        <div class="row">
            <h1 class="titulo titulo-escuela"><i class="icono icono-escuela"></i> {{ "Escuela de Golf anual" |trans }}</h1>
            <div id="menu-interior">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:escuelaMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
        {% for instalacion in instalaciones %}
            <div class="row">
                <div class="{{ (loop.index == 1 ? 'col-xs-9 padding-right-0': 'col-xs-12') }} padding-left-0">
                    <h1 class="titulo-2 padding-right-0">{{ instalacion.titulo }}</h1>
                    {{ instalacion.texto | raw }}
                </div>
                {% if loop.index == 1 %}
                    <div class="col-xs-3 padding-right-0 text-center">
                        <img src="{{ asset('bundles/bootstrap/frontend/img/tpi.jpg') }}" title="TPI Certified Junior Coach" alt="TPI Certified Junior Coach">
                    </div>
                {% endif %}
                <div class="row fila-imagenes">
                    {% for imagen in imagenes[instalacion.id] %}
                        <div class="col-xs-4">
                            <a class="lightbox" href="{{ asset(urlInstalaciones ~ 'imagenes/' ~ instalacion.carpeta ~ '/' ~ imagen.getFilename) }}" data-lightbox-gallery="gallery-{{ instalacion.id }}">
                                <img src="{{ asset(urlInstalaciones ~ 'imagenes/' ~ instalacion.carpeta ~ '/' ~ imagen.getFilename) | imagine_filter('instalaciones') }}" alt="" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}