{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container margin-bottom-50">
        <div class="row">
            <h1 class="titulo titulo-escuela"><i class="icono icono-escuela"></i> {{ "Escuela de Golf anual" |trans }}</h1>
            <div id="menu-interior">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:escuelaMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
        <div class="row">
            <p class="texto-3 margin-0">{{ "A continuación os presentamos al equipo que estará al mando de nuestra Academia infantil a partir del próximo 29 de Septiembre, todos ellos con un gran historial en la alta competición y como no, en la enseñanza. La cercanía de nuestra Academia hace que en todo momento puedas contactar directamente con ello a través del correo electrónico que dejamos en su ficha." | trans }}</p>
        </div>
        <div class="profesores">
            {% for entity in entities %}
                <div class="row profesor">
                    <div class="linea-titulo-superior">
                        <div class="col-xs-3 padding-0">
                            <img src="{{ asset(urlProfesores ~ 'imagenes/' ~ entity.imagen) }}" alt="Foto del profesor">
                        </div>
                        <div class="col-xs-9">
                            <h5>{{ entity.nombre }}</h5>
                            {{ entity.descripcion | raw}}
                            <a href="mailto:{{ entity.email }}" title="Contacta con {{ entity.nombre }}">Contacta con el profesor</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}