{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Video Clases{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Listado</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, '#', 'v.id') }}</th>
                            <th>Titulo</th>
                            <th>Clave</th>
                            <th>Imagen</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in pagination %}
                        <tr>
                            <td><a href="{{ path('backend_videoclases_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.titulo }}</td>
                            <td>{{ entity.clave }}</td>
                            <td><img src="{{ asset(urlVideoclases ~ 'imagenes/' ~ entity.imagen) | imagine_filter('clubEdition') }}"></td>
                            <td>
                                <div class="btn-group">
                                    <a class="editar" href="{{ path('backend_videoclases_edit', { 'id': entity.id  }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                    <a class="eliminar" href="{{ path('backend_videoclases_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <div class="col-xs-6 padding-left-0">
                    <a class="btn btn-primary" href="{{ path('backend_videoclases_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
                <div class="navigation col-xs-6 text-right padding-right-0">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}