{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Crear{% endblock %}
{% block contenido %}
    {{ form_start(form, {'attr': {'role': 'form'} }) }}
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
                <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="espanol">
                    <div class="box-header">
                        <h3 class="box-title">Información General</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.titulo) }}
                        {{ form_row(form.clave, {'label': 'Codigo Youtube'}) }}
                        <div class="form-group{{ (form.imagen.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.imagen, 'Imagen') }}
                            {{ form_errors(form.imagen) }}
                            {{ form_widget(form.imagen) }}
                            <p class="help-block">Tamaño máximo: 226x170.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ingles">
                    <div class="box-header">
                        <h3 class="box-title">Información a Traducir</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group{{ (form.titulo_en.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.titulo_en, 'Titulo') }}
                            {{ form_errors(form.titulo_en) }}
                            {{ form_widget(form.titulo_en) }}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                    <p class="help-block">Guardarás en todos los idiomas</p>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
