{% if wo_breadcrumbs()|length %}
    {% spaceless %}
        <ol id="{{ listId }}" class="{{ listClass }}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            {% for b in breadcrumbs %}
                <li class="{{ (loop.last? 'active': '') }}{% if itemClass is defined and itemClass|length %} {{ itemClass }}{% endif %}"{% if not(loop.first) %} itemprop="child"{% endif %}>
                    {% if b.url and not loop.last %}
                        <a href="{{ b.url }}" itemprop="url"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>{% endif %}
                            {% if loop.first %}<i class="fa fa-dashboard"></i>{% endif %}
                            <span itemprop="title">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</span>
                        {% if b.url and not loop.last %}</a>{% endif %}

                    {% if separator is not null and not loop.last %}
                        <span class='{{ separatorClass }}'>{{ separator }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endspaceless %}
{% endif %}