{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
                <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="espanol">
                    <div class="box-header">
                        <h3 class="box-title">Información General</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(edit_form.titulo, { 'label' : 'Titulo' }) }}
                        {{ form_row(edit_form.texto, { 'label' : 'Texto' }) }}
                        {{ form_row(edit_form.url, { 'label' : 'Url' }) }}
                        <div class="form-group col-xs-12 padding-0">
                            <div class="form-element col-xs-2 padding-left-0{{ (edit_form.position.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.position, 'Posición') }}
                                {{ form_widget(edit_form.position, {'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(edit_form.position) }}
                            </div>
                            <div class="form-element col-xs-2{{ (edit_form.state.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.state, 'Estado') }}
                                <div>{{ form_widget(edit_form.state) }}</div>
                                {{ form_errors(edit_form.state) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6{{ (edit_form.fotoTitulo.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.fotoTitulo, 'Titulo', {'label_attr': {'class': 'col-xs-2 padding-left-0 control-label'} }) }}
                                {{ form_errors(edit_form.fotoTitulo) }}
                                {{ form_widget(edit_form.fotoTitulo, {'attr': {'class': 'col-xs-10'} }) }}
                                <p class="help-bloc col-xs-10 col-xs-offset-2">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                            </div>
                            <div class="col-xs-6{{ (edit_form.foto.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.foto, 'Imagen', {'label_attr': {'class': 'col-xs-2 padding-left-0 control-label'} }) }}
                                {{ form_errors(edit_form.foto) }}
                                {{ form_widget(edit_form.foto, {'attr': {'class': 'col-xs-10'} }) }}
                                <p class="help-bloc col-xs-10 col-xs-offset-2">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ingles">
                    <div class="box-header">
                        <h3 class="box-title">Información a Traducir</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group{{ (edit_form.texto_ingles.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.texto_ingles, 'Texto') }}
                            {{ form_errors(edit_form.texto_ingles) }}
                            {{ form_widget(edit_form.texto_ingles) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                <p class="help-block">Guardarás en todos los idiomas</p>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}

