{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Publicidad{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Previsualización</h3>
                </div>
                <div class="box-body">
                    <div class="container" id="banners">
                        <div class="row">
                            {% for publicidad in publicidadPublicada %}
                                <div class="col-xs-6">
                                    <img src="{{ asset(urlPublicidad ~ 'imagenes/' ~ publicidad.imagenTitulo) }}" title="{{ publicidad.titulo }}" alt="Logotipo de {{ publicidad.titulo }}">
                                    <p>{{ publicidad.texto | raw }}</p>
                                    <img src="{{ asset(urlPublicidad ~ 'imagenes/' ~ publicidad.imagen) }}" title="{{ publicidad.titulo }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Publicidad</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Url</th>
                                <th class="text-center">Posicion</th>
                                <th class="text-center">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in listado %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.titulo }}</td>
                                <td>{{ entity.url }}</td>
                                <td class="text-center">{{ entity.position }}</td>
                                <td class="text-center">{{ (entity.state ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('backend_publicidad_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('backend_publicidad_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_publicidad_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
