{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
                <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="espanol">
                    <div class="box-header">
                        <h3 class="box-title">Información General</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(edit_form.title, { 'label' : 'Titulo' }) }}
                        {{ form_row(edit_form.url) }}
                        <div class="form-group col-xs-12 padding-0">
                            <div class="form-element col-xs-2 padding-left-0{{ (edit_form.blockSections.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.blockSections, 'Sección') }}
                                {{ form_widget(edit_form.blockSections, {'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(edit_form.blockSections) }}
                            </div>
                            <div class="form-element col-xs-2{{ (edit_form.position.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.position, 'Posición') }}
                                {{ form_widget(edit_form.position, {'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(edit_form.position) }}
                            </div>
                            <div class="form-element col-xs-2{{ (edit_form.state.vars.errors|length? ' has-error': '') }}">
                                {{ form_label(edit_form.state, 'Estado') }}
                                <div>{{ form_widget(edit_form.state) }}</div>
                                {{ form_errors(edit_form.state) }}
                            </div>
                        </div>
                        {{ form_row(edit_form.text, { 'label' : 'Introducción' }) }}
                        {{ form_row(edit_form.fullText, {'attr': {'class': 'form-control'}, 'label' : 'Texto' }) }}
                        <div class="form-group{{ (edit_form.foto.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.foto, 'Imagen') }}
                            {{ form_errors(edit_form.foto) }}
                            {{ form_widget(edit_form.foto) }}
                            <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ingles">
                    <div class="box-header">
                        <h3 class="box-title">Información a Traducir</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group{{ (edit_form.title_en.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.title_en, 'Titulo') }}
                            {{ form_errors(edit_form.title_en) }}
                            {{ form_widget(edit_form.title_en) }}
                        </div>
                        <div class="form-group{{ (edit_form.text_en.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.text_en, 'Introducción') }}
                            {{ form_errors(edit_form.text_en) }}
                            {{ form_widget(edit_form.text_en) }}
                        </div>
                        <div class="form-group{{ (edit_form.fullText_en.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(edit_form.fullText_en, 'Texto completo') }}
                            {{ form_errors(edit_form.fullText_en) }}
                            {{ form_widget(edit_form.fullText_en) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                <p class="help-block">Guardarás en todos los idiomas</p>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}