{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Bloques{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Previsualización</h3>
                </div>
                <div class="box-body">
                    <div class="container" id="contenedor-seccion">
                        <div class="row bloques">
                            {% for block in blocksHome %}
                                <div class="col-3">
                                    <a href="{{ path('backend_block_edit', { 'id': block.id }) }}" title="Editar: {{ block.title }}"><img src="{{ asset(urlBlocks ~ 'imagenes/' ~ block.img) }}" title="{{ block.title }}" alt=""></a>
                                    <a href="{{ path('backend_block_edit', { 'id': block.id }) }}" title="Editar: {{ block.title }}"><h1>{{ block.title }}</h1></a>
                                    <p>{{ block.text | raw }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Bloques</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Url</th>
                                <th class="text-center">Posicion</th>
                                <th class="text-center">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in blocks %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.title }}</td>
                                <td>{{ entity.url }}</td>
                                <td class="text-center">{{ entity.position }}</td>
                                <td class="text-center">{{ (entity.state ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('backend_block_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('backend_block_delete_form', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_block_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
