{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Nuevo{% endblock %}
{% block contenido %}
    {{ form_start(form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.title, { 'label' : 'Titulo' }) }}
                    {{ form_row(form.url) }}
                    <div class="form-group col-xs-12 padding-0">
                        <div class="form-element col-xs-2 padding-left-0{{ (form.blockSections.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.blockSections, 'Sección') }}
                            {{ form_widget(form.blockSections, {'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.blockSections) }}
                        </div>
                        <div class="form-element col-xs-2{{ (form.position.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.position, 'Posición') }}
                            {{ form_widget(form.position, {'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.position) }}
                        </div>
                        <div class="form-element col-xs-2{{ (form.state.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.state, 'Estado') }}
                            <div>{{ form_widget(form.state) }}</div>
                            {{ form_errors(form.state) }}
                        </div>
                    </div>
                    {{ form_row(form.text, { 'label' : 'Introducción' }) }}
                    {{ form_row(form.fullText, {'attr': {'class': 'form-control'}, 'label' : 'Texto' }) }}
                    <div class="form-group{{ (form.foto.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.foto, 'Imagen') }}
                        {{ form_errors(form.foto) }}
                        {{ form_widget(form.foto) }}
                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{{ (form.title_en.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.title_en, 'Titulo') }}
                        {{ form_errors(form.title_en) }}
                        {{ form_widget(form.title_en) }}
                    </div>
                    <div class="form-group{{ (form.text_en.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.text_en, 'Introducción') }}
                        {{ form_errors(form.text_en) }}
                        {{ form_widget(form.text_en) }}
                    </div>
                    <div class="form-group{{ (form.fullText_en.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.fullText_en, 'Texto completo') }}
                        {{ form_errors(form.fullText_en) }}
                        {{ form_widget(form.fullText_en) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}