{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Editar{% endblock %}
{% block contenido %}
    {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(edit_form.titulo, { 'label' : 'Titulo' }) }}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-2 padding-left-0">
                                {{ form_row(edit_form.escuela) }}
                            </div>
                            <div class="col-xs-2">
                                {{ form_row(edit_form.circuito) }}
                            </div>
                        </div>
                    </div>
                    {{ form_row(edit_form.introduccion, { 'label' : 'Introducción' }) }}
                    {{ form_row(edit_form.texto, {'label' : 'Texto' }) }}
                    {{ form_row(edit_form.fuente) }}
                    <div class="form-group{{ (edit_form.estado.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.estado, 'Estado') }}
                        <div>{{ form_widget(edit_form.estado) }}</div>
                        {{ form_errors(edit_form.estado) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{{ (edit_form.titulo_en.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.titulo_en, 'Titulo') }}
                        {{ form_errors(edit_form.titulo_en) }}
                        {{ form_widget(edit_form.titulo_en) }}
                    </div>
                    <div class="form-group{{ (edit_form.introduccion_en.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.introduccion_en, 'Introducción') }}
                        {{ form_errors(edit_form.introduccion_en) }}
                        {{ form_widget(edit_form.introduccion_en) }}
                    </div>
                    <div class="form-group{{ (edit_form.texto_en.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(edit_form.texto_en, 'Texto') }}
                        {{ form_errors(edit_form.texto_en) }}
                        {{ form_widget(edit_form.texto_en) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
