{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Noticias{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(pagination, '#', 'n.id') }}</th>
                                <th{% if pagination.isSorted('t.titulo') %} class="sorted"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Titulo', 'n.titulo') }}
                                </th>
                                <th style="min-width: 82px;">Creado</th>
                                <th class="text-center">Escuela</th>
                                <th class="text-center">Circuito</th>
                                <th class="text-center">Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in pagination %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.titulo }}</td>
                                    <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
                                    <td class="text-center">{{ (entity.escuela ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                    <td class="text-center">{{ (entity.circuito ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                    <td class="text-center">{{ (entity.estado ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="editar" href="{{ path('backend_noticia_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                            <a class="eliminar" href="{{ path('backend_noticia_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-xs-6 padding-left-0">
                        <a class="btn btn-primary" href="{{ path('backend_noticia_new') }}"><i class="fa fa-plus"></i> Crear</a>
                    </div>
                    <div class="navigation col-xs-6 text-right padding-right-0">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}