{% form_theme form _self %}
{% block form_widget %}
    {% spaceless %}
        {% if compound %}
            {{ block('form_widget_compound') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
    {% spaceless %}
        {# ponemos esto para impedir que me imprima el label, html y errores del elemento del tipo translated_field #}
        {# solo mostramos el form_widget ya que sino no imprime las cajas de traducción #}
        {# {% if form.vars.block_prefixes.1 != 'translated_field' %} #}
            <div class="form-group{{ (form.vars.errors|length? ' has-error': '') }}">
                {{ form_label(form) }}
                {{ form_errors(form) }}
        {# {% endif %} #}
                {{ form_widget(form, {'attr': {'class': 'form-control'} }) }}
        {# {% if form.vars.block_prefixes.1 != 'translated_field' %} #}
            </div>
        {# {% endif %} #}
    {% endspaceless %}
{% endblock form_row %}

{% block translated_field_widget %}
    {% spaceless %}
        {% for child in form %}
            {% if form.vars.block_prefixes.1 != 'translated_field' %}
                <div class="form-group{{ (child.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(child) }}
                    {{ form_errors(child) }}
            {% endif %}
            {% if attr.class is defined %}
                {% set class = 'form-control ' ~ attr.class %}
            {% else %}
                {% set class = 'form-control' %}
            {% endif %}
                    {{ form_widget(child, {'attr': { 'class': class } }) }}
            {% if form.vars.block_prefixes.1 != 'translated_field' %}
                </div>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock translated_field_widget %}