{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row" id="partner">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-partner"></i>{{ "Miguel Ángel Jiménez Partner Club" | trans }}</h1>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-xs-3 padding-left-0 sidebar partner-club">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:partnerMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu_desplegable.html.twig'}) }}
            </div>
            <div class="col-xs-9 padding-0">
                <h1 class="titulo">{{ categoria.nombre }}</h1>
                <div class="col-xs-12 padding-0 listado-partners">
                    {% for partner in partners %}
                        {% set tamano = (partner.grande ? '12' : '6') %}
                        <div class="col-xs-{{ tamano }} partner-destacado {{ (partner.grande ? 'padding-0' : 'pequeno' ) }}">
                            <a href="{{ path('frontend_partner_informacion', { 'categoriaSlug': categoria.slug, 'partner': partner.slug}) }}" title="{{ partner.nombre }}">
                                <div class="ver-mas">{{ 'Ver más' | trans }}</div>
                                <img src="{{ asset(urlPartner ~ 'imagenes/' ~ partner.imagenPrincipal) }}" alt="{{ 'Imagen de' | trans }} {{ partner.nombre }}">
                                <h6>{{ partner.nombre }}</h6>
                            </a>
                            <p class="provincia">{{ partner.provincia }}</p>
                            <p class="descripcion">{{ partner.descripcion }}</p>
                            {{ (partner.oro ? '<p class="exclusivo-oro">Exclusivos miembros oro</p>' | trans : '' ) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}