<html>
    <body>
        <h3 style="margin-bottom: 20px;">Petición de Tarjeta Partner</h3>
        <table style="border-spacing: 0;border-collapse: collapse;">
            <tr>
                <th style="width:170px;">Nombre</th>
                <td>{{ datos.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ datos.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ datos.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ datos.telefono }}</td>
            </tr>
            <tr>
                <th>Ciudad de residencia</th>
                <td>{{ datos.ciudad }}</td>
            </tr>
            <tr>
                <th>Lugar de recogida</th>
                <td>{{ datos.recogida | capitalize}}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ datos.direccion }}</td>
            </tr>
            <tr>
                <th>Codigo Postal</th>
                <td>{{ datos.cp }}</td>
            </tr>
            <tr>
                <th>Población</th>
                <td>{{ datos.poblacion }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ datos.provincia }}</td>
            </tr>
        </table>
    </body>
</html>
