<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider-partner">
        {% for imagen in imagenes %}
            <img src="{{ asset(urlPartner ~ 'imagenes/' ~ carpeta ~ '/' ~ imagen.fileName) }}"{{ (seleccionada == imagen.fileName ? ' id="primero"' : '' ) }} />
        {% endfor %}
    </div>
</div>