{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/nivo-slider.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-slider/themes/default/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/themes/default/default.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-slider/jquery.nivo.slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/bootstrap/frontend/nivo-lightbox/nivo-lightbox.js') }}" type="text/javascript"></script>
{% endblock %}
{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row" id="partner">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-partner"></i>{{ "Miguel Ángel Jiménez Partner Club" | trans }}</h1>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-xs-3 padding-left-0 sidebar partner-club">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:partnerMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu_desplegable.html.twig'}) }}
            </div>
            <div class="col-xs-9 padding-0">
                <h1 class="titulo">{{ partner.nombre }}</h1>
                <div class="col-xs-5 padding-left-0">
                    {% for imagen in imagenes | slice(0, 5) %}
                        {% if loop.first %}
                            <div class="col-xs-12 padding-0">
                                <a href="{{ path('frontend_partner_imagenes', {'categoriaSlug': categoria.slug,'seleccionada': imagen.getFilename, 'imagenes': partner.imagenes }) }}" class="nivo-partner" data-lightbox-type="ajax" title="{{ "Ver imágenes" | trans }}">
                                    <img src="{{ asset(urlPartner ~ 'imagenes/' ~ partner.imagenes ~ '/' ~ imagen.getFilename) | imagine_filter('partnerOne') }}" title="Pincha para ver más grande" alt="Imagen de {{ partner.nombre }}">
                                </a>
                            </div>
                            <div class="col-xs-12 padding-0" id="lista-imagenes-partner">
                        {% endif %}
                            <div class="imagenes-pequenas-partner{{ (loop.last ? ' padding-0' : '') }}">
                                <a href="{{ path('frontend_partner_imagenes', {'categoriaSlug': categoria.slug,'seleccionada': imagen.getFilename, 'imagenes': partner.imagenes }) }}" class="nivo-partner" data-lightbox-type="ajax" title="{{ "Ver imágenes" | trans }}">
                                    <img src="{{ asset(urlPartner ~ 'imagenes/' ~ partner.imagenes ~ '/' ~ imagen.getFilename) | imagine_filter('partner') }}" title="Pincha para ver más grande" alt="Imagen de {{ partner.nombre }}">
                                </a>
                            </div>
                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-xs-10" id="miembro-oro-info">{{ 'Exclusivo miembros oro' | trans }}</div>
                    <h3 class="col-xs-12" id="titulo-partner-info">{{ 'Descripción de la oferta' | trans }}</h3>
                    <p class="col-xs-12 size-13 padding-0">{{ partner.descripcion }}</p>
                    <ul class="col-xs-12 padding-0 list-unstyled" id="partner-contacto">
                        <li><span class="bold">{{ 'Teléfono de reservas' | trans }}:</span> {{ partner.telefono }}</li>
                        <li><span class="bold">{{ 'Persona de contacto' | trans }}:</span> {{ partner.contacto }}</li>
                    </ul>
                </div>
                <div class="col-xs-7 size-13 padding-0">{{ partner.texto | raw }}</div>
            </div>
        </div>
    </div>
{% endblock %}