{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row" id="partner">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-partner"></i>{{ "Miguel Ángel Jiménez Partner Club" | trans }}</h1>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-xs-3 padding-left-0 sidebar partner-club">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:partnerMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu_desplegable.html.twig'}) }}
            </div>
            <div class="col-xs-9 padding-0">
                <h1 class="titulo">{{ 'Presentación del Parner Club' | trans }}</h1>
                <p>{{ 'Bienvenidos al Miguel Ángel Jiménez Partner Club, un lugar donde podrás beneficiarte de descuentos y novedades sólo por ser nuestro amigo.' | trans }}</p>
                <p>{{ 'En este nuevo programa podrás comprobar una serie de acuerdos' | trans }}</p>

                <h1 class="titulo sin-linea margin-top-30">{{ 'Partners destacados' | trans }}</h1>

                <div class="col-xs-12 padding-0">
                    {% for partner in destacados %}
                        <div class="col-xs-6 partner-destacado {{ (loop.index is odd ? 'padding-left-0': 'padding-right-0') }}">
                            <a href="" title="{{ partner.nombre }}">
                                <div class="ver-mas">Ver más</div>
                                <img src="{{ asset(urlPartner ~ 'imagenes/' ~ partner.imagenPrincipal) }}" alt="{{ 'Imagen de' | trans }} {{ partner.nombre }}">
                                <h6>{{ partner.nombre }}</h6>
                            </a>
                            <p class="provincia">{{ partner.provincia }}</p>
                            <p class="descripcion">{{ partner.descripcion }}</p>
                            {{ (partner.oro ? '<p class="exclusivo-oro">Exclusivos miembros oro</p>' | trans : '' ) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}