<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        {% for imagen in imagenes %}
            <img src="{{ asset(urlPartner ~ 'imagenes/' ~ imagen.imagenes ~ '/' ~ imagen.fileName) }}" />
        {% endfor %}
    </div>
</div>