{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="row" id="partner">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-partner"></i>{{ "Miguel Ángel Jiménez Partner Club" | trans }}</h1>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-xs-3 padding-left-0 sidebar partner-club">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:partnerMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu_desplegable.html.twig'}) }}
            </div>
            <div class="col-xs-9 padding-0">
                <h1 class="titulo">Solicitar mi tarjeta Partner Club</h1>
                <p>Estás interesado en formar parte de nuestro club y quieres que te mandemos nuestra tarjeta para que a partir de ahora tengas todos los beneficios que ofrecemos a nuestros amigos, rellena el siguiente formulario y te la haremos llegar lo antes posible.</p>
                {% form_theme form with 'BootstrapBundle:Default/Frontend/Form:fields.html.twig' %}

                {{ form_start(form, {'attr': {'role': 'form', 'class': 'form-horizontal', 'id': 'tarjeta'} }) }}
                    <div class="form-group{{ (form.nombre.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                        <div class="col-xs-10 padding-left-0">
                            {{ form_errors(form.nombre) }}
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group{{ (form.apellidos.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.apellidos, 'Apellidos', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                        <div class="col-xs-10 padding-left-0">
                            {{ form_errors(form.apellidos) }}
                            {{ form_widget(form.apellidos, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                <div class="form-group{{ (form.email.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                    <div class="col-xs-10 padding-left-0">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group{{ (form.telefono.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.telefono, 'Teléfono', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                    <div class="col-xs-10 padding-left-0">
                        {{ form_errors(form.telefono) }}
                        {{ form_widget(form.telefono, {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group{{ (form.ciudad.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.ciudad, 'Ciudad de residencia', {'label_attr': {'class': 'col-xs-3 control-label'} }) }}
                    <div class="col-xs-9 padding-left-0">
                        {{ form_errors(form.ciudad) }}
                        {{ form_widget(form.ciudad, {'attr': {'class': 'form-control padding-left-0'} }) }}
                    </div>
                </div>
                <div class="form-group{{ (form.recogida.vars.errors|length? ' has-error': '') }}">
                    <p class="col-xs-6 simular-label">{{ 'Como prefieres que te hagamos llegar la tarjeta?' | trans }}</p>
                    <div class="col-xs-6 contenedor-radio-recogida padding-left-0">
                        {{ form_widget(form.recogida, {'attr': {'class': 'recogida'} }) }}
                        {{ form_errors(form.recogida) }}
                    </div>
                </div>
                <div class="form-group{{ (form.direccion.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.direccion, 'Dirección completa', {'label_attr': {'class': 'col-xs-3 control-label'} }) }}
                    <div class="col-xs-9 padding-left-0">
                        {{ form_errors(form.direccion) }}
                        {{ form_widget(form.direccion, {'attr': {'class': 'form-control padding-left-0'} }) }}
                    </div>
                </div>
                <div class="form-group{{ (form.cp.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.cp, 'Código postal', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                    <div class="col-xs-10 padding-left-0">
                        {{ form_errors(form.cp) }}
                        {{ form_widget(form.cp, {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group{{ (form.poblacion.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.poblacion, 'Población', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                    <div class="col-xs-10 padding-left-0">
                        {{ form_errors(form.poblacion) }}
                        {{ form_widget(form.poblacion, {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group{{ (form.provincia.vars.errors|length? ' has-error': '') }}">
                    {{ form_label(form.provincia, 'Provincia', {'label_attr': {'class': 'col-xs-2 control-label'} }) }}
                    <div class="col-xs-10 padding-left-0">
                        {{ form_errors(form.provincia) }}
                        {{ form_widget(form.provincia, {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="submit-tarjeta">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}