{% extends 'BootstrapBundle:Default/Frontend:frontend.html.twig' %}

{% block tituloSeccion %}{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row" id="partner">
            {{ wo_render_breadcrumbs() }}
            <h1 class="titulo"><i class="icono icono-partner"></i>{{ "Miguel Ángel Jiménez Partner Club" | trans }}</h1>
        </div>
    </div>
    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-xs-3 padding-left-0 sidebar partner-club">
                {% set menuItem = knp_menu_get('FrontendBundle:BuilderFrontend:partnerMenu', [], {'locale': locale}) %}
                {{ knp_menu_render(menuItem,  {'currentClass': 'active', 'template': 'FrontendBundle:Menu:knp_menu_desplegable.html.twig'}) }}
            </div>
            <div class="col-xs-9 padding-0">
                <h1 class="titulo">{{ 'Solicitar mi tarjeta Partner Club' | trans }}</h1>
                <p class="size-15">{{ 'Gracias por tu solicitud, en breve nos pondremos en contacto contigo.' | trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}