{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Publicidad{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Previsualización</h3>
                </div>
                <div class="box-body">
                    <div class="container" id="contenedor-patrocinadores">
                        <div class="row" id="patrocinadores">
                            <ul class="list-unstyled list-inline">
                                {% for patrocinador in patrocinadores %}
                                    <li>
                                        <a href="{{ patrocinador.url }}" title="{{ patrocinador.name }}"><img src="{{ asset(urlPatrocinadores ~ 'imagenes/' ~ patrocinador.imagen) }}" title="{{ patrocinador.name }}" alt="Logotipo de {{ patrocinador.name }}"></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Imagen</th>
                                <th class="text-center">Position</th>
                                <th>State</th>
                                <th style="width: 165px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.url }}</td>
                                <td><img src="{{ asset(urlPatrocinadores ~ 'imagenes/' ~ entity.imagen) }}" title="{{ entity.name }}" alt="Logotipo de {{ entity.name }}"></td>
                                <td class="text-center">{{ entity.position }}</td>
                                <td class="text-center">{{ (entity.state ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('backend_patrocinadores_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('backend_patrocinadores_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('backend_patrocinadores_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
