{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Nuevo{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                {% form_theme form with 'BootstrapBundle:Default/Backend/Form:fields.html.twig' %}
                {{ form_start(form, {'attr': {'role': 'form', 'id': 'form-patrocinadores'} }) }}
                <div class="box-body">
                    {{ form_row(form.name, { 'label' : 'Nombre' }) }}
                    {{ form_row(form.url, { 'label' : 'Url' }) }}
                    <div class="form-group col-xs-12 padding-0">
                        <div class="form-element col-xs-2 padding-left-0{{ (form.position.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.position, 'Posición') }}
                            {{ form_widget(form.position, {'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.position) }}
                        </div>
                        <div class="form-element col-xs-2{{ (form.state.vars.errors|length? ' has-error': '') }}">
                            {{ form_label(form.state, 'Estado') }}
                            <div>{{ form_widget(form.state) }}</div>
                            {{ form_errors(form.state) }}
                        </div>
                    </div>
                    <div class="form-group{{ (form.foto.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.foto, 'Imagen') }}
                        {{ form_errors(form.foto) }}
                        {{ form_widget(form.foto) }}
                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}