{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}El campo{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="min-width: 220px">Nombre</th>
                                <th>Descripcion</th>
                                <th style="width: 217px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ (entity.descripcion|striptags|length>90? entity.descripcion|striptags|slice(0,90)~'...' : entity.descripcion|striptags) }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="ver" href="{{ path('el-campo_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                                        <a class="editar" href="{{ path('el-campo_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('el-campo_deleteForm', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('el-campo_new') }}"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}