{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Viendo: {{ entity.nombre }}{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Datos</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 200px;">Nombre</th>
                                <td >{{ entity.nombre }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;">Descripcion</th>
                                <td>{{ entity.descripcion|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="video-hoyos" class="col-xs-5">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Datos</h3>
                </div>
                <div class="box-body">
                    {{ entity.video|raw }}
                </div>
            </div>
        </div>
        <div class="col-xs-7 padding-left-0">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Imagenes</h3>
                </div>
                <div class="box-body">
                    <div id="lista-imagenes">
                        {% for imagen in imagenes %}
                            <div class="imagenes-list">
                                {% if entity.principal == imagen.getFilename %}
                                    <div class="principal">Principal</div>
                                {% endif %}
                                <div class="control-imagenes">
                                    <a href="{{ path('el-campo_principal', {'id': entity.id, 'nombre': imagen.getFilename}) }}" class="btn btn-success img-principal">Principal</a>
                                    <a href="{{ path('el-campo_imagen_delete', {'id': entity.id, 'nombre': imagen.getFilename}) }}" class="btn btn-danger img-delete">Eliminar</a>
                                </div>
                                <img src="{{ asset(url_imagenes ~ entity.destinoImagenes ~ '/' ~ imagen.getFilename) | imagine_filter('my_thumb') }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
