{% extends '::baseBackend.html.twig' %}

{% block stylesheets %}
    {# En css se usa esta manera de ruta, no como en javascript de usar @Bundle porque parece que produce fallos con el filter#}
    {% stylesheets 'bundles/bootstrap/backend/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.0.2 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    {% javascripts '@BootstrapBundle/Resources/public/backend/js/*.js'
    '@BootstrapBundle/Resources/public/backend/js/plugins/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block cssHtlm %}bg-black{% endblock %}
{% block cssBody %}bg-black{% endblock %}
{% block body %}{% endblock %}