{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Instalaciones{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Listado</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th style="width: 77%;">Titulo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.titulo }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="ver" href="{{ path('backend_instalaciones_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-eye"></i> Ver</a>
                                    <a class="editar" href="{{ path('backend_instalaciones_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                    <a class="eliminar" href="{{ path('backend_instalaciones_edit', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" href="{{ path('backend_instalaciones_new') }}"><i class="fa fa-plus"></i> Crear</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

