{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Crear{% endblock %}
{% block contenido %}
    {{ form_start(form, {'attr': {'role': 'form'} }) }}
    <div class="nav-tabs-custom">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#espanol" role="tab" data-toggle="tab">Español</a></li>
            <li><a href="#ingles" role="tab" data-toggle="tab">Ingles</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="espanol">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.titulo, { 'label' : 'Titulo' }) }}
                    {{ form_row(form.texto, { 'label' : 'Texto' }) }}
                    <div class="form-group{{ (form.fotos.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.fotos, 'Imagenes') }}
                        {{ form_errors(form.fotos) }}
                        {{ form_widget(form.fotos, { 'full_name': form.fotos.vars['full_name'] ~ '[]' }) }}
                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="ingles">
                <div class="box-header">
                    <h3 class="box-title">Información a Traducir</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{{ (form.titulo_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.titulo_ingles, 'Titulo') }}
                        {{ form_errors(form.titulo_ingles) }}
                        {{ form_widget(form.titulo_ingles) }}
                    </div>
                    <div class="form-group{{ (form.texto_ingles.vars.errors|length? ' has-error': '') }}">
                        {{ form_label(form.texto_ingles, 'Texto') }}
                        {{ form_errors(form.texto_ingles) }}
                        {{ form_widget(form.texto_ingles) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
            <p class="help-block">Guardarás en todos los idiomas</p>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

