{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Viendo: {{ entity.titulo }}{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Datos</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Titulo</th>
                                <td>{{ entity.titulo }}</td>
                            </tr>
                            <tr>
                                <th>Descripcion</th>
                                <td>{{ entity.texto|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Imagenes</h3>
                </div>
                <div class="box-body">
                    <div id="lista-imagenes">
                        {% for imagen in imagenes %}
                            <div class="imagenes-list">
                                <div class="control-imagenes instalaciones">
                                    <a href="{{ path('instalaciones_imagen_delete', {'id': entity.id, 'nombre': imagen.getFilename}) }}" class="btn btn-danger img-delete">Eliminar</a>
                                </div>
                                <img src="{{ asset(urlInstalaciones ~ 'imagenes/' ~ entity.carpeta ~ '/' ~ imagen.getFilename) | imagine_filter('my_thumb') }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
