{# {% block form_row %}
    {% spaceless %}
        <div class="form-group{{ (form.vars.errors|length? ' has-error': '') }}">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form, {'attr': {'class': 'form-control'} }) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
#}