{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@SliderBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block tituloSeccion %}Editar slider #{{ entity.id }} {% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Pre-visualización</h3>
                </div>
                <div class="box-body">
                    <div class="text-center margen-bottom">
                        <div class="contenedor-slider">
                            <img src="{{ asset(urlSlider ~ entity.imagen) }}" title="" alt="">
                            {#{% for text in textSlider %}
                                <h1 id="sliderBundle-sliderText-{{ text.id }}"class="texto-slider" style="top:{{ text.topCss }}px; left:{{ text.leftCss }}px; width:{{ text.widthCss }}px">{{ text.text }}</h1>
                            {% endfor %} #}
                            {% for texto in textos %}
                                {% set entityText = texto.entity %}
                                <h1 id="texto-{{ entityText.id }}-idioma-es"class="texto-slider es" style="top:{{ entityText.topCss }}px; left:{{ entityText.leftCss }}px; width:{{ entityText.widthCss }}px">{{ entityText.text }}</h1>
                                {% for key, idioma in texto.traducciones %}
                                    <h1 id="texto-{{ entityText.id }}-idioma-{{ key }}" class="texto-slider {{ key }} oculto" style="top:{{ idioma.topCss }}px; left:{{ idioma.leftCss }}px; width:{{ idioma.widthCss }}px">{{ idioma.text }}</h1>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            {# {% form_theme edit_form with 'BootstrapBundle:Default/Backend/Form:fields.html.twig' %} #}
            {{ form_start(edit_text_form, {'attr': {'id': 'form-text-sliderText'} }) }}
                <div class="nav-tabs-custom">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="form-idiomas">
                        <li class="active"><a href="#espanol" role="tab" data-toggle="tab" data-idioma="es">Español</a></li>
                        <li><a href="#ingles" role="tab" data-toggle="tab" data-idioma="en">Ingles</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="espanol">
                            <div class="box-header">
                                <h3 class="box-title">Información General</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group{{ (edit_text_form.text.vars.errors|length? ' has-error': '') }}">
                                    {{ form_label(edit_text_form.text, 'Texto' ) }}
                                    {{ form_errors(edit_text_form.text) }}
                                    {{ form_widget(edit_text_form.text, {'attr': {'class': 'form-control texto'} }) }}
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group{{ (edit_text_form.widthCss.vars.errors|length? ' has-error': '') }}">
                                            {{ form_label(edit_text_form.widthCss, 'Ancho') }}
                                            {{ form_errors(edit_text_form.widthCss) }}
                                            {{ form_widget(edit_text_form.widthCss, {'attr': {'class': 'form-control width'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group{{ (edit_text_form.topCss.vars.errors|length? ' has-error': '') }}">
                                            {{ form_label(edit_text_form.topCss, 'Posición Top') }}
                                            {{ form_errors(edit_text_form.topCss) }}
                                            {{ form_widget(edit_text_form.topCss, {'attr': {'class': 'form-control top'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group{{ (edit_text_form.leftCss.vars.errors|length? ' has-error': '') }}">
                                            {{ form_label(edit_text_form.leftCss, 'Posición Left') }}
                                            {{ form_errors(edit_text_form.leftCss) }}
                                            {{ form_widget(edit_text_form.leftCss, {'attr': {'class': 'form-control left'} }) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_row(edit_text_form.id, {'attr': {'class': 'siderBundle-sliderText-update-id'} }) }}
                                {{ form_row(edit_text_form.slider, {'attr': {'class': 'siderBundle-sliderText-update-slider', 'value': entity.getId()} }) }}
                            </div>
                        </div>
                        <div class="tab-pane" id="ingles">
                            <div class="box-header">
                                <h3 class="box-title">Información a Traducir</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group{{ (edit_text_form.text_ingles.vars.errors|length? ' has-error': '') }}">
                                    {{ form_label(edit_text_form.text_ingles, 'Texto') }}
                                    {{ form_errors(edit_text_form.text_ingles) }}
                                    {{ form_widget(edit_text_form.text_ingles, {'attr': {'class': 'texto'} }) }}
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group{{ (edit_text_form.widthCss_ingles.vars.errors|length? ' has-error': '') }}">
                                            {{ form_label(edit_text_form.widthCss_ingles, 'Ancho') }}
                                            {{ form_errors(edit_text_form.widthCss_ingles) }}
                                            {{ form_widget(edit_text_form.widthCss_ingles, {'attr': {'class': 'width'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group{{ (edit_text_form.topCss_ingles.vars.errors|length? ' has-error': '') }}">
                                            {{ form_label(edit_text_form.topCss_ingles, 'Posición Top') }}
                                            {{ form_errors(edit_text_form.topCss_ingles) }}
                                            {{ form_widget(edit_text_form.topCss_ingles, {'attr': {'class': 'top'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group{{ (edit_text_form.leftCss_ingles.vars.errors|length? ' has-error': '') }}">
                                            {{ form_label(edit_text_form.leftCss_ingles, 'Posición Left') }}
                                            {{ form_errors(edit_text_form.leftCss_ingles) }}
                                            {{ form_widget(edit_text_form.leftCss_ingles, {'attr': {'class': 'left'} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form_widget(edit_text_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                        <p class="help-block">Guardarás en todos los idiomas</p>
                    </div>
                </div>
            {{ form_end(edit_text_form) }}
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Textos</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover" id="listado-textos">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Texto</th>
                                <th style="width: 155px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for texto in textos %}
                            {% set row = texto.entity  %}
                            <tr id="fila_{{ row.id }}">
                                <td>{{ row.id }}</td>
                                <td>{{ row.text }}</td>
                                <td>
                                    <a class="editar edit-text-slider" href="{{ path('slider_get_text', { 'id': row.id }) }}" data-id="{{ row.id }}" title="Editar texto"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                    <a class="eliminar" href="{{ path('slider_remove_text', { 'id': row.id }) }}" title="Eliminar texto"><i class="fa fa-times-circle"></i> Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>

                {{ form_start(edit_form, {'attr': {'role': 'form'} }) }}
                    <div class="box-body">
                        {{ form_row(edit_form.seccion, {'attr': {'class': 'form-control'} }) }}
                        {{ form_row(edit_form.url, {'attr': {'class': 'form-control'} }) }}
                        {{ form_row(edit_form.position, {'attr': {'class': 'form-control'} }) }}
                        <div class="checkbox">
                            <label>{{ form_widget(edit_form.state) }} Activo</label>
                            {{ form_errors(edit_form.state, {'attr': {'class': 'control-error'}}) }}
                        </div>
                        {{ form_label(edit_form.foto, 'Imagen') }}
                        {{ form_errors(edit_form.foto, {'attr': {'class': 'control-error'}}) }}
                        {{ form_widget(edit_form.foto) }}
                        <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                    </div>
                    <div class="box-footer">
                        {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
