{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Slider's{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Imagen</th>
                                <th class="text-center">Position</th>
                                <th class="text-center">State</th>
                                <th>Url</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td><img src="{{ asset(urlSlider ~ entity.imagen) | imagine_filter('slider') }}"></td>
                                <td class="text-center">{{ entity.position }}</td>
                                <td class="text-center">{{ (entity.state ? '<i class="fa fa-check verde"></i>' : '<i class="fa fa-times rojo"></i>') }}</td>
                                <td>{{ entity.url }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="editar" href="{{ path('slider_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                                        <a class="eliminar" href="{{ path('slider_remove', { 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-times-circle"></i> Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ path('slider_new') }}"><i class="fa fa-plus"></i> Crear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
