{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Crear Slider{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Información General</h3>
                </div>
                {% form_theme form with 'BootstrapBundle:Default/Backend/Form:fields.html.twig' %}
                {{ form_start(form, {'attr': {'role': 'form'} }) }}
                <div class="box-body">
                    {{ form_row(form.seccion, {'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.url, {'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.position, {'attr': {'class': 'form-control'} }) }}
                    <div class="checkbox">
                        <label>{{ form_widget(form.state) }} Activo</label>
                        {{ form_errors(form.state, {'attr': {'class': 'control-error'}}) }}
                    </div>
                    {{ form_label(form.foto, 'Imagen') }}
                    {{ form_errors(form.foto, {'attr': {'class': 'control-error'}}) }}
                    {{ form_widget(form.foto) }}
                    <p class="help-block">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
                </div>
                <div class="box-footer">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
