{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}
{% block tituloSeccion %}Eliminar Slider: {{ entity.id }}{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Eliminar</h3>
            </div>
            {{ form_start(delete_form, {'attr': {'role': 'form'} }) }}
                <div class="box-body">
                    <p>¿Estás seguro de querer eliminar este Slider?</p>
                </div>
                <div class="box-footer">
                    {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'} }) }}
                </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>

{% endblock %}
