{% extends 'BootstrapBundle:Default/Backend:backend.html.twig' %}

{% block tituloSeccion %}Ver slider #{{ entity.id }} {% endblock %}
{% block contenido %}
    <div class="col-xs-12 text-center margen-bottom">
        <div class="contenedor-slider">
            <img src="{{ asset( urlSlider ~ entity.imagen) }}" title="" alt="">
            {% for text in textSlider %}
                <h1 class="texto-slider" style="top:{{ text.topCss }}px; left:{{ text.leftCss }}px; width:{{ text.widthCss }}px">{{ text.text }}</h1>
            {% endfor %}
        </div>
    </div>
    <table class="table table-striped margen">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ entity.position }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ (entity.state ? 'Activo' : 'Desactivado') }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
        </tbody>
    </table>
    <div class="col-xs-12 text-right">
        <ul class="record_actions list-unstyled list-inline">
            <li>
                <a class="btn btn-info" href="{{ path('slider') }}">volver al listado</a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ path('slider_edit', { 'id': entity.id }) }}">Editar</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-warning'}}) }}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
